.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}


.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding-right: 25px;
}

.hamburger {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.selectedOption {
  color: var(--primary-dark);
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media (max-width: 700px) {
  .fullMenu {
    display: none;
  }
}

@media (min-width: 701px) {
  .collapsedMenu {
    display: none;
  }
}


