.landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .content {
    // TODO: changed from 120 -> change after header and footer added
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // TODO: uncomment bottom two lines after header and footer are added
    // margin-top: 15vh;
    // margin-bottom: 10vh;
    background-image: url("../assets/landingbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .imageContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 350px;
      img {
        margin-top: 50px;
        width: 450px;
      }
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    max-width: 650px;
    float: left;
    align-items: center;
    // TODO: uncomment bottom line after header and footer are added
    // margin-top: -18vh;
    h3 {
      color: #2b2b2b;
      font-size: 28px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
      font-weight: 700;
      font-style: extra bold;
      line-height: 42px;
      margin-bottom: 15px;
      margin-top: 0;
      display: flex;
      justify-content: center;
      width: 500px;
    }
    p {
      color: #2b2b2b;
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding-bottom: 12px;
      letter-spacing: 0.04em;
      display: flex;
      width: 45vw;
      max-width: 500px;
      min-width: 320px;
      margin: 0px;
      margin-bottom: 10px;
    }
    a {
      width: 100px;
      font-size: 14px;
      background: white;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #ffffff;
      background-color: #54a0f1;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 10px;
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
      &:hover {
        background-color: #6eaff5;
      }
    }
  }
  // TODO: Remove any button related styling and create a new component
  // with relevant button styling changes -- these button styles don't
  // seem to actually affect the button, could be because Link is used
  // from Next.js which is diff from what was used before migration
  #addbutton {
    width: 140px;
    font-size: 140px;
    line-height: 1em;
    background: white;
    font-style: normal;
    display: inline-block;
    color: #54a0f1;
    text-decoration: none;
    border-radius: 10px;
    border: solid 0.2vw #54a0f1;
    text-align: center;
  }
  .addbutton {
    a {
      &:hover {
        color: #6eaff5;
        border: solid 0.2vw #6eaff5;
        background: transparent;
      }
    }
  }
  .buttons {
    width: 30vw;
    min-width: 500px;
    display: flex;
    justify-content: center;
  }
  .moreContent {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    .featureWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      p {
        font-size: 1.1em;
        width: 400px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
          "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.06em;
        text-align: left;
        line-height: 1.6;
      }
      h2 {
        font-size: 1.6em;
        line-height: 40px;
        width: 500px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
          "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
        font-weight: 700;
        font-style: normal;
        margin: 0;
        text-align: left;
      }
    }
    .feature1 {
      justify-content: flex-end;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      padding: 20px;
      margin-bottom: 150px;
      .description {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 50px;
      }
      img {
        width: 542px;
        position: relative;
        margin-right: 74px;
      }
    }
    .feature2 {
      justify-content: flex-start;
      padding-left: 30px;
      .description {
        display: flex;
        flex-direction: column;
        position: relative;
        float: left;
        margin-left: 50px;
      }
      img {
        width: 542px;
        position: relative;
        margin-left: 24px;
      }
    }
  }
}
.feature2 {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 20px;
  margin-bottom: 150px;
}
.feature3 {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 20px;
  margin-bottom: 150px;
  .description {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 50px;
  }
  img {
    width: 542px;
    position: relative;
    margin-right: 74px;
  }
}
@media screen and (max-width: 800px) {
  .landing {
    .text {
      * {
        width: 100vw;
      }
      width: 100vw;
      h3 {
        margin-bottom: 0px;
        width: 300px;
      }
    }
  }
}
@media (prefers-reduced-motion: no-preference) {
  .screen3 {
    animation: screens infinite 5s linear;
  }
  .screen2 {
    animation: screens infinite 6s linear;
  }
  .screen1 {
    animation: screens infinite 4s linear;
  }
  .landing {
    .ball3 {
      animation: balls infinite 4s linear;
    }
    .ball2 {
      animation: balls infinite 3.6s linear;
    }
    .ball1 {
      animation: balls infinite 3.3s linear;
    }
    .ball4 {
      animation: balls infinite 3s linear;
    }
  }
}