.dashboard-wrapper {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 67px;
    position: relative;
    font-family: Qanelas Soft;
    letter-spacing: 0.03em;
}

.dashboard {
    padding-top: 0.6em;
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto 0 auto;

    h1 {
        font-size: xxx-large;
        margin: 0 0 0.2em 0;
    }

    h2 {
        font-size: large;
        margin: 0 0 0.2em 0;
    }

    h3 {
        font-size: medium;
        margin: 0.5em 0 0.5em 0;
    }

    h4, span {
        margin: 0;
        font-size: 14px;
    }
}

.dashboard > * {
    margin-top: 3.5em;
}

.dashboard-subtext {
    color: #8C8C8C;
}

.dashboard-flyer-bears-img {
    display:flex;
    width: 32vw;
    padding-top: 4vw;
}

.dashboard-events {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.dashboard-event {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em 1em 0 0;
}

.dashboard-event-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    word-wrap: break-word;
    max-width: 20em;
}

.dashboard-event-desc {
    padding: 0 2.5em 0 0.6em;
}

.dashboard-clubcard-section-right {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    background:white;
    padding: 0.6em;
    border-radius: 0 10px 10px 0;

    button {
        color: #C4C4C4;
        margin: 0;
        padding: 0;
    
        .active{
            color: #54A0F1;
            cursor: pointer;
        }
    }
}

.dashboard-clubcard-section-left {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background:white;
    padding: 0.6em;
    flex-grow: 100;
    border-radius: 10px 0 0 10px;

    button {
        color: #C4C4C4;
        margin: 0;
        padding: 0;

        .active{
            color: #54A0F1;
            cursor: pointer;
        }
    }
}

.dashboard-clubcard-btns {
    justify-content: right;
}

.dashboard-clubcard-delete {
    cursor: pointer;
}

.dashboard-clubcard-title {
    display: inline-block;
    width: 100%;
    height: 100%;
    justify-content: left;
}

.dashboard-clubicon {
    width: 1.4em;
    height: 1.4em;
    border-radius: 6px;
}

.dashboard-eventlist {
    height: 35vh;
    width: 35vw;
}

.dashboard-eventlist-scroll {
    height: 30vh;
    overflow: auto;
}


.dashboard-eventlist-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4em;
    margin-bottom: 1em;
}

.dashboard-eventlist-container > * {
    margin-right: 5vw;
}

.dashboard-app-tracker-content {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: space-between;
}

.dashboard-app-tracker-content > *:not(:last-child) {
    margin-right: 3vw
}

.dashboard-app-tracker-list {
    flex: 1;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 22vw;
    min-height: 50px;
}

.dashboard-clubcard {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.8em;
    max-width: 400px;

    button {
        background: none;
        border: none;
    }

    img{
        width: 1.2em;
        height: 1.2em;
        margin: 0 0.5em;
    }
    
    &:hover {
        filter: brightness(85%);
    }
}

.dashboard-clubcard-section-left > *, .dashboard-clubcard-section-right > * {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-add-interested {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bold;
    color: #8C8C8C;
    font-family: Qanelas Soft;
}

.dashboard-app-timeline {
    border-radius: 10px;
    padding: 1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.dashboard-app-tl-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        margin: 0 1em 0 0;
    }
}

.dashboard-events-photo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard-modal {
    max-width: 80vw;
}

.tracker-clubcard-wrapper {
    border-radius: 10px;
    padding: 0.6em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.8em;
    justify-content: space-between;
    max-width: 400px;
}

.tracker-clubcard {
    display: flex;
    flex-direction: row;

    img {
        width: 1.2em;
        height: 1.2em;
    }
}

.tracker-clubcard-text {
    font-family: Qanelas Soft;
}

.tracker-clubcard-tags {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 850px) {
    .dashboard > * {
        margin-top: 1em;
    }

    .dashboard-eventlist-container {
        flex-direction: column;
        margin-top: 1em;
    }

    .dashboard-eventlist-container > * {
        margin: 1em 0 0 0;
    }

    .dashboard-event {
        margin: 0.5em 0 0 0;
    }

    .dashboard-flyer-bears-img {
        display: none;
    }

    .dashboard-app-tracker-content {
        flex-direction: column;
    }

    .dashboard-app-tracker-content > *:not(:last-child) {
        margin-right: 0;
    }

    .dashboard-clubcard-left {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .dashboard-clubcard-right {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

}