.register-student {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .redirection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    span::before {
        content: "";
        animation: animate infinite 2s;
        padding-left: 0px;
    }

    .redirection .image {
        width: 300px;
    
        margin-bottom: 25px;
    }

    .title {
        color: #2b2b2b;
        font-size: 20px;
        line-height: 1.2em;
        font-family: Qanelas Soft Extra Bold;
        font-weight: 700;
        font-style: normal;
        line-height: 24.78px;
        text-align: center;
        margin-bottom: 25px;
    }

    .redirection .text {
        color: #2b2b2b;
        font-family: Qanelas Soft;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 50px;
    }

    .modal {
        width: 451px;
        height: 561px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 10px;

        .image {
            height: 110px;
            width: 110px;
        
            margin-bottom: 25px;
        }

        .filter {
            width: 350px;
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        
            padding: 10px 20px;
            border: 1px solid rgb(200, 196, 196);
            border-radius: 5px;
            margin: 5px;
            margin-bottom: 0px;
        
            font-family: Qanelas Soft;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.02em;
            text-align: left;
        
            color: #C4C4C4;

            .selected {
                color: black;
            }

            i {
                color: #C4C4C4;
                margin-right: 5px;
            }
        }

        .filter-dropdown-years {
            width: 350px;
            max-height: 200px;
        
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            padding: 10px 20px;
            border: 1px solid rgb(200, 196, 196);
            border-radius: 5px 5px 5px 5px;
            margin: 5px;
            margin-top: 140px;
            margin-bottom: 0px;
        
            font-family: Qanelas Soft;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.02em;
            text-align: left;
        
            color: #C4C4C4;
            background: #FFFFFF;
        }

        .filter-dropdown-majors {
            width: 350px;
            max-height: 150px;
        
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        
            padding: 10px 20px;
            border: 1px solid rgb(200, 196, 196);
            border-radius: 5px 5px 5px 5px;
            margin: 5px;
            margin-top: 270px;
            margin-bottom: 0px;
        
            font-family: Qanelas Soft;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.02em;
            text-align: left;
        
            color: #C4C4C4;
            background: #FFFFFF;
        }

        .filter-dropdown-minors {
            width: 350px;
            max-height: 200px;
        
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: flex-start;
        
            padding: 10px 20px;
            border: 1px solid rgb(200, 196, 196);
            border-radius: 5px 5px 5px 5px;
            margin: 5px;
            margin-top: 410px;
            margin-bottom: 0px;
        
            font-family: Qanelas Soft;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.02em;
            text-align: left;
        
            color: #C4C4C4;
            background: #FFFFFF;
        }

        .filter-dropdown-tags {
            width: 350px;
            max-height: 150px;
        
            position: fixed;
        
            display: flex;
            flex-direction: column;
        
            padding: 10px 20px;
            border: 1px solid rgb(200, 196, 196);
            border-radius: 5px 5px 5px 5px;
            margin: 5px;
        
            font-family: Qanelas Soft;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.02em;
            text-align: left;
        
            color: #C4C4C4;
            background: #FFFFFF;
        }

        .filter-selection {
            display: flex;
            align-items: center;
        
            color: black;
            margin: 5px;
        }

        .save {
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 65px;
            height: 40px;
        
            background: #54A0F1;
            border-radius: 10px;
        
            font-family: Qanelas Soft;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 14px;
            letter-spacing: 0.02em;
            text-align: center;
        
            color: #FFFFFF;
        
            margin-top: 50px;
        }
    }
}

@keyframes animate {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }
}

.scrollable-content {
    overflow-x: hidden;
    overflow-y: scroll;
}
.scrollable-content::-webkit-scrollbar {
    width: 10px;
}
.scrollable-content::-webkit-scrollbar * {
    background: transparent;
}
.scrollable-content::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200) !important;
}
