.clubCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.nameAndButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.clubName {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1rem;

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .applyButton {
    background-color: #3d6ea8;
    color: #fff;

    &:hover {
      background-color: #3d6ea8;
    }
  }
}

.details {
  display: flex;
  gap: 1rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.content {
  display: flex;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
}

.leftColumn {
  flex: 0 0 80%;
  padding-right: 1rem;
}

.rightColumn {
  flex: 1;
  align-items: flex-start;
}

.about {
  margin: 1rem 0 1rem 0;

  h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .tag {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 12px;
    border: 1px solid #3d6ea8;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-end;

  .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;

    .nameAndButtons {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;

      .buttons {
        margin-top: 1rem;
      }
    }
  }
}
