.clubCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;

  .nameAndButtons {
    display: inline-flex;
    // flex-wrap: wrap;

    align-items: center;
    margin-bottom: 28px;

    .clubName {
      margin: 0 0.5rem 0 0;
      flex: 1 1;
    }

    .buttons {
      display: flex;
      gap: 1rem;

      button {
        padding: 0.5rem 1.25rem;
        font-size: 1rem;
        border-radius: 10px;
        border: 1px solid var(--primary-dark);
        cursor: pointer;
        color: var(--primary-dark);
        background-color: var(--bg-0);
        white-space: nowrap;

        &:hover {
          background-color: var(--bg-1);
        }
      }
    }
  }

  .applyButton {
    background-color: var(--primary-dark);
    color: #fff;

    &:hover {
      background-color: var(--primary);
    }
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
  font-size: 16px;
  white-space: nowrap;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
}

.leftColumn {
  flex: 1 0 80%;
  padding-right: 44px;
}

.rightColumn {
  flex: 1 0 20%;
  align-items: flex-start;
}

.about {
  margin: 1rem 0 1rem 0;

  h3 {
    margin: 0 0 0.5rem 0;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .tag {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 12px;
    border: 1px solid var(--primary-dark);
    color: var(--primary-dark);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;

  .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;

    .nameAndButtons {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;

      .buttons {
        margin-top: 1rem;
      }
    }
  }
}
