html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body.light {
  /* Primary Text Color */
  --text-0: #000000;

  /* Secondary Text Color */
  --text-1: #7f7f7f;

  /* Primary Background Color */
  --bg-0: #ededed;

  /* Secondary Background Color */
  --bg-1: #f9f9f9;

  /* Misc. Colors */
  --box-shadow: rgba(149, 157, 165, 0.2);
  --red: red;

  color: var(--text-1);
}

body.dark {
  /* Primary Text Color */
  --text-0: #ffffff;

  /* Secondary Text Color */
  --text-1: #919191;

  /* Primary Background Color */
  --bg-0: #111111;

  /* Secondary Background Color */
  --bg-1: #212121;

  /* Misc. Colors */
  --box-shadow: transparent;
  --red: red;

  color: var(--text-1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
