.catalog-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Qanelas Soft;
}

.catalog-content {
  max-width: 1150px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.banner img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.selectedDD {
  border: 1px solid #54a0f1 !important;
}
.filters {
  position: relative;
  display: flex;
  background: white;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  color: #888;
  max-height: 43px;
  z-index: 999;
}

@media screen and (max-width: 800px) {
  .filters {
    background: white;
    flex-wrap: wrap;
    max-height: unset;
    padding: 0px;
    z-index: 50;
  }

  .status-filter,
  .app-filter,
  .tags-filter,
  .members-filter,
  .sort-filter {
    display: none !important;
  }
  .search-filter {
    margin: 0px !important;
  }
  .results-content {
    padding-left: 5vw;
    padding-right: 5vw;
    overflow-x: hidden;
  }
  .filters {
    padding-bottom: 0px !important;
  }
}

.filter-wrapper {
  cursor: pointer;
}

.filter {
  padding: 10px 20px;
  border: 1px solid rgb(200, 196, 196);
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 0px;
}

.filter {
  font-size: 14px;
}
.filter i {
  font-size: 16px;
}
.openDD {
  border-bottom: none !important;
  border-radius: 5px 5px 0px 0px;
}

.filter-dropdown {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  background: white;
  border: 1px solid rgb(200, 196, 196);
  z-index: 999;
  border-radius: 0px 0px 5px 5px;
  max-height: 200px;
  overflow-y: auto;
}

.filter-selection {
  margin: 10px;
  font-size: 12px;
  color: black;
}

.filter-selection:hover {
  background: #a0d7ff;
}

.search-input {
  outline: none;
  border: none;
  padding-left: 1px;

}
.reset-filters {
  float: right;
  margin-right: 10px;
  display: inline-block;
  color: #6eaff5;
  font-size: 10px;
  cursor: pointer;

}
.reset-filters:hover {
  color: #588fca;
}

.search-filter {
  width: 100%;
  padding-right: 0px;
  min-width: 240px;
}

.search-filter i {
  color: #c4c4c4;
  margin-right: 5px;
}

.status-filter,
.app-filter,
.tags-filter,
.members-filter,
.sort-filter {
  display: flex;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sort-filter,
.sort-filter-dropdown {
  margin-right: 0px;
}
.sort-filter-dropdown {
  padding-left: 5px;
}
.sort-filter-dropdown .filter-selection {
  padding-top: 5px;
  padding-bottom: 5px;
}

.status-filter {
  width: 100px;
}
.tags-filter {
  width: 124px;
}

.app-filter {
  width: 90px;
}

.members-filter,
.sort-filter {
  width: 83px;
}

.scrollable-content {
  overflow-x: hidden;
  overflow-y: scroll;
}
.scrollable-content::-webkit-scrollbar {
  width: 10px;
}
.scrollable-content::-webkit-scrollbar * {
  background: transparent;
}
.scrollable-content::-webkit-scrollbar-thumb {
  background: rgb(134, 134, 134) !important;
}

@media screen and (max-width: 1150px) {
  .catalog-content {
    width: 100vw;
  }
}
