.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  border: 1.5px solid var(--primary);
  color: var(--primary);
  font-weight: 500;
  border-radius: 12px;
  padding: 10px 15px;

  &.filled {
    background-color: var(--primary);
    color: white;

    &:hover {
      background-color: var(--primary-accent);
      border-color: var(--primary-accent);
    }
  }

  &:hover {
    background-color: var(--color);
    color: white;
  }
}