.accordion {
    letter-spacing: 0.03em;
    width: 100%;
    text-align: left;
    font-family: Qanelas Soft;
  }
  
.accordion__button-club {
    /* background-color: #f4f4f4; */
    display: inline;
    color: #444;
    cursor: pointer;
    padding-top: 0.5vw;
    padding-left: 1vw;
    left: 3%;
    padding-bottom: 0vw;
    text-align: left;
    border-radius: 10px;
}

.accordion__heading-club {
display: inline-block;
width: 1%;
}

hr {
margin-left: 3.9%;
border-top: 1px;
}

#gray-ev-link {
color: #8d8d8d;
}

.event-container {
width: 87%;
display: inline-flex;
font-size: 1.2vw;
justify-content: space-between;
align-items: center;
margin: 0.5vh 0 0.5vh 0;
}

.event-flex-left {
font-weight: bold;
font-size: 1.1vw;
color: #444;
}

.event-flex-right {
font-size: 1.1vw;
text-align: end;
min-width: 50%;
}
.accordion__button-club:focus {
outline: 0;
}

.accordion__button-club:before {
display: inline-block;
content: '';
height: 0.5vw;
width: 0.5vw;
margin-right: 10px;
margin-bottom: 7px;
border-bottom: 2px solid currentColor;
border-right: 2px solid currentColor;
transform: rotate(45deg);
}

.accordion__button-club[aria-expanded='true']::before,
.accordion__button-club[aria-selected='true']::before {
transform: rotate(-135deg);
}

[hidden] {
display: none;
}

.accordion__panel-event {
animation: fadein 0.35s ease-in;
text-align: left;
border: none;
width: 80%;
font-family: Qanelas Soft;
font-size: 1.1vw;
margin-left: 2vw;
padding: 1vw 1vw 1vw 1vw;
margin-top: 0.5vw;
margin-bottom: 0vw;
background-color: #e2e2e2;
border-radius: 6px;
word-wrap: break-word;
}

@media screen and (max-width: 850px) {
  
  .event-container {
    width: 90%;
    display: inline-flex;
    font-family: Qanelas Soft;
    font-size: 8pt;
    margin-left: 3%;
    justify-content: space-between;
    letter-spacing: 0.03em;
  }

  .event-flex-left,
  .event-flex-right,
  .left-box .desc-text,
  .right-box .desc-text {
    font-size: 10px;
  }

  .accordion__panel-event {
    animation: fadein 0.35s ease-in;
    text-align: left;
    border: none;
    width: 90%;
    font-family: Qanelas Soft;
    font-size: 8pt;
    margin-left: 2vw;
    padding: 1vw 1vw 1vw 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0vw;
    background-color: #e2e2e2;
    border-radius: 6px;
    letter-spacing: 0.03em;
  }
}