.recover .content {
  font-family: Qanelas Soft;
  position: relative;
  padding-top: 66.6px;
  height: calc(100vh - 66.6px - 71.6px);
  min-height: 507px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recover .form {
  position: relative;
  max-width: 310px;
  padding: 20px;
  /* padding-right: 100px;
    margin-left: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recover .form .imgContainer.one img {
  height: 180px;
}

.recover .form .imgContainer.two img {
  padding-left: 65px;
  height: 160px;
}

.recover .form .text {
  align-self: flex-start;
}

.recover .form .text h2 {
  margin-top: 10px;
}

.recover .form .close.text h2 {
  margin-top: 7px;
  margin-bottom: 5px;
}
.recover .form .close.text p {
  margin-top: 6px;
  margin-bottom: 15px;
}

.recover .form input {
  /* screen width - padding - border - input padding */
  width: calc(100vw - 100px - 2px - 18px);
  max-width: 290px;
  margin-top: 6px;
  padding: 9px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px #888888b5;
  font-family: Qanelas Soft;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #4e4e4e;
}

.recover .form input::placeholder {
  font-weight: 400;
}

.recover .form .userInput {
  border: solid 1px #949494;
}

.recover .form .forgotEmail {
  align-self: flex-start;
  margin-top: 8px;
  text-decoration: none;
  font-family: Qanelas Soft;
  font-weight: 500;
  font-size: 12px;
  color: #949494;
  transition: color 0.15s;
}

.recover .form .forgotEmail:hover {
  color: #4e4e4e;
}

.recover .form .button {
  width: calc(100vw - 100px);
  padding: 10px 16px 10px 16px;
  border-radius: 7px;
  border: none;
  box-shadow: 1px 2px 3px #888888b5;
  text-decoration: none;
  font-family: Qanelas Soft;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.11em;
  color: white;
  background-color: #54a0f1;
  transition: background-color 0.15s;
}

.recover .form .button:hover {
  background-color: #6eaff5;
  cursor: pointer;
}

.recover .form .button.submitEmail,
.button.submitPassword {
  align-self: flex-end;
  max-width: 310px;
  margin-top: 20px;
}

.recover .form .button.redirect {
  align-self: center;
  max-width: 278px;
  margin-top: 40px;
  text-align: center;
}

/* Invalid input notice styling */
.recover .form .inputInvalid {
  border: solid 1px #ff2d2d;
}

.recover .errorWrapper {
  width: 100%;
}

.recover .errorWrapper .error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #faf5cc;
  z-index: 1;
  border-radius: 6px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
}

.recover .errorWrapper img {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}

.recover .errorWrapper p {
  color: #ff2d2d;
  font-family: Qanelas Soft;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  height: 30px;
  width: 180px;
}

.recover .emailUnverified,
.emptyEmail,
.conError {
  /* transition to visible popup */
  visibility: visible;
  opacity: 0.85;
  transition: opacity 0.12s 0.1s ease-in;
}

.recover .error.noError,
.error.unset {
  display: none !important;
}

.recover .error.emptyEmail,
.recover .error.emailUnverified,
.recover .error.emptyPwd,
.recover .error.conError {
  margin-left: 130px;
  margin-top: 255px;
}

@media screen and (max-width: 850px) {
  .recover .content {
    /* window height - mobile header */
    height: calc(100vh - 224px + 60px);
  }
}
