.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  overflow: hidden;
  background-image: url('./assets/long_background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.about .content {
  min-height: 87vh;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  padding-top: 40px;
  margin-top: 75px;
  margin-bottom: 20px;
}

.about .content .imageContainer {
  width: 100%;
  height: 150px;

  display: flex;

  align-items: center;
  justify-content: center;
}

.about .text {
  max-width: 65vw;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.about .text h1 {
  color: #2b2b2b;

  font-size: 36px;
  font-family: Qanelas Soft Extra Bold;
  font-weight: 700;
  font-style: normal;

  margin-top: 40px;
  margin-bottom: 0px;
}

.about .text h2 {
  display: flex;
  align-items: flex-start;

  color: #2b2b2b;

  font-size: 24px;
  font-family: Qanelas Soft Extra Bold;
  font-weight: 700;
  font-style: normal;

  margin-top: 40px;
  margin-bottom: 20px;
}

.about .text p {
  display: flex;
  align-items: flex-start;

  color: #2b2b2b;

  font-size: 16px;
  font-family: Qanelas Soft;
  font-style: normal;
  line-height: 24px;

  margin-bottom: 0px;
}

.about .logo-image {
  height: 150px;
}

.about .content .carousel {
  display: flex;
  flex-direction: row;

  margin-left: 10px;
  height: 250px;
}

.about .content .image {
  object-fit: cover;

  width: 120px;
  height: 120px;
  margin-bottom: 0px;
}
