/* ---------- Overall page content layout ----------- */
.catalog {
  text-align: center;
  font-family: Qanelas Soft;
}

.catalog .content {
  /* total height - header - footer */
  min-height: calc(100vh - 70px - 62px);
  padding-top: 67px;
  display: flex;
}

/* ---------------- Sidebar styling ----------------- */
/* sidebar do be looking garbage on horizontal resize -karen */
.catalog .sidebar {
  text-align: left;
  align-self: start;
  margin-top: -3px;
  position: fixed;
  width: 260px;
  float: left;
  color: #2b2b2b;
  padding: 12px;
  font-size: 14px;
  line-height: 14px;
  margin-right: 28px;
}

.catalog .sidebar h2 {
  font-size: 18px;
  margin-left: 9px;
}

.catalog .accordion {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  width: 100%;
  text-align: left;
  margin-left: 15px;
  margin-top: 12px;
}

.catalog .accordion .accordion-group {
  margin-bottom: 15px;
}
.catalog .accordion .accordion-group.search {
  margin-bottom: 30px;
}

.catalog .accordion .accordion-group.border {
  margin-bottom: 7px;
  padding-top: 7px;
  border-top: 2px solid #80808021;
}
.catalog .accordion .accordion-group.border .accordion__panel {
  margin-bottom: 30px;
}

.catalog .accordion__heading {
  display: inline-flex;
  padding-top: 5px;
  width: 100%;
  font-family: Qanelas Soft;
  font-weight: bold;
  font-size: 14px;
}

.catalog .accordion__button {
  display: inline-flex;
  flex-direction: row-reverse;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 12px;
  text-align: left;
  border: none;
  margin-left: 7px;
  justify-content: space-between;
  width: 315px;
}

/* .catalog .accordion__button:hover {
    background-color: #ddd;
} */

.catalog .accordion__button:focus {
  outline: 0;
}

.catalog .accordion__button:before {
  display: flex;
  content: '';
  height: 7px;
  width: 7px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg);
}

.catalog .accordion__button[aria-expanded='true']::before,
.catalog .accordion__button[aria-selected='true']::before {
  transform: rotate(-135deg);
}

[hidden] {
  display: none;
}

.catalog .accordion__panel {
  /* padding: 5px; */
  animation: fadein 0.35s ease-in;
  /* padding: 18px; */
  text-align: left;
  border: none;
}

.catalog .reset-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog .reset-wrapper .reset-filters {
  height: fit-content;
  margin-right: 7px;
  padding: 3px 14px;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  color: white;
  background-color: #54a0f1;
  transition: background-color 0.15s;
}
.catalog .reset-wrapper .reset-filters:hover {
  cursor: pointer;
  background-color: #6eaff5;
}

.catalog .search-bar {
  display: flex;
  flex-direction: row;
  /* full accordion - border+padding - button padding */
  width: calc(100% - 7px - 1px - 10px - 8px);
  height: 38px;
  border-radius: 5px;
  border: solid 1px #949494;
  padding-left: 10px;
  margin-left: 7px;
}

.catalog .search-button {
  width: 100%;
  border-radius: 3px;
  color: #949494;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8px;
  border: none;
  cursor: pointer;
}
.catalog .search-button:hover {
  background: transparent;
}

.catalog .checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.catalog .checkbox > label {
  margin-top: 1.5px;
  margin-left: 7px;
}

/* ------------- Club card grid styling ------------- */
.catalog .cards {
  flex: 1;
  /* -- flex-direction: row; */
  text-align: left;
  align-self: start;
  margin-top: 20px;
  margin-left: 270px;
  /* -- width: 300px; */
  float: left;
  color: #2b2b2b;
  padding: 30px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 14px;
}

.catalog .num-results {
  margin-top: -18px;
  margin-bottom: 10px;
  margin-left: 8px;
  font-family: Qanelas Soft Semi Bold;
}

.more-content {
  width: 100%;
  justify-content: center;
  display: flex;
}

.load-more {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #54a0f1;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.expand-search {
  display: none;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ---------------- Media queries ------------------- */
@media screen and (max-width: 850px) {
  .catalog .content {
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
  }

  .catalog .sidebar {
    height: 85px;
    display: fixed;
    background: white;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 0px 0px 5px 5px;
    /* display: none; */
  }
  .show-search {
    height: 460px !important;
  }
  .expand-search {
    display: unset;
    margin-left: 125px;
    margin-top: 5px;
    position: absolute;
    bottom: 5px;
    background: white;
    width: 100px;
    border: 1px solid #54a0f1;
    color: #54a0f1;
    border-radius: 5px;
  }

  .accordion {
    width: 350px !important;
    padding: auto;
  }
  .catalog .accordion-group,
  .catalog .accordion__button {
    width: 350px;
  }
  .catalog .cards {
    margin-left: 0px;
    padding: 10px;
    margin-top: 100px;
  }
  .reset-wrapper {
    display: none !important;
  }
}
