.App {
  text-align: center;
}

/* sidebar do be looking garbage on horizontal resize -karen */
.sidebar {
  text-align: left;
  align-self: start;
  margin-top: 20px;
  width: 300px;
  float: left;
  color: #2b2b2b;
  padding: 12px;
  font-size: 14px;
  line-height: 14px;
}

.cards {
  flex: 1;
  /* -- flex-direction: row; */
  text-align: left;
  align-self: start;
  margin-top: 20px;
  /* -- width: 300px; */
  float: left;
  color: #2b2b2b;
  padding: 30px;
  font-size: 14px;
  line-height: 14px;
}

/*GRID COMPONENT STYLYING*/
.info-flex {
  display: flex;
  flex-direction: column;
  
}

.icon-title-flex {
  display: flex;
  flex-direction: row;
}

.card-club-logo {
  width: 1.8vw;
  height: 1.8vw;
  position: relative;
  bottom: 0.3vw;
  margin-right: 0.5vw;
}

.club-name {
  font-size: 1.2vw;
  font-family: montserrat, sans-serif;
  font-weight: bold;
}

.tags-flex-test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  left: -0.6vw;

}

.tag-test {
  margin-top: 0.3vw;
  margin-left: 0.5vw;
  background-color: #E2E2E2;
  border-radius: 6px;
  padding: 0.2vw 1vw 0.2vw 1vw;
  font-family: roboto, sans-serif;
  font-size: 0.7vw;
}

.req-flex {
  display: flex;
  flex-direction: row;
  position: relative;
  left: -0.6vw;
}

#app-req {
  background-color: #FFF1AE;
}

#app-not-req {
  background-color: #CDEAFF;
}

#open-tag {
  background-color: #C9F0C9;
}

#not-open-tag {
  background-color: #FFD6D6
}

.accordion {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  width: 100%;
  text-align: left;
  margin-left: 15px;
}

.search-button {
  height: 25px;
  width: 60px;
  border-radius: 3px;
  background: #87cdff;
  color: white;
  margin-top: 8px;
  border: none;
  cursor: pointer;
}
.search-button:hover {
  background: #9fd5fb;
}

.accordion-group {
  margin-bottom: 15px;
}

.accordion__button {
  /* background-color: #f4f4f4; */
  color: #444;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 6px;
  width: 100%;
  text-align: left;
  border: none;
}

/* .accordion__button:hover {
    background-color: #ddd;
} */

.accordion__button:focus {
  outline: 0;
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  /* padding: 5px; */
  animation: fadein 0.35s ease-in;
  /* padding: 18px; */
  text-align: left;
  border: none;
  /* background-color: pink; */
}

.content {
  min-height: calc(100vh - 176px);
  /* position: relative;
  widows: 100%; */
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}


/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


 @media screen and (max-width: 850px) {
  .content {
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
  }
} 
