.clubpage {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.header-img {
  position: relative;
  width: 75vw;
  height: 28.539vw;
  left: 12.5vw;
  top: 1vw;
  background-size: cover;
  background-position: 50% 10%;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  margin-top: 67px;
}

.flex-container-chungus {
  width: 75vw;
  left: 12.5vw;
  position: relative;
  margin-top: 1.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5%;
}

/*====================================*/
/*LEFT FLEXBOX*/
.flex-container-left {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 43.99vw;
  left: 12.5vw;
  margin-top: 0.5vw;
  top: 30.539vw;
  margin-bottom: 3vw;
}

.logo-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  left: 5%;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.club-logo {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  position: relative;
  width: 17%;
  height: auto;
}

/*THIS FLEXBOX HOLDS TITLE AND TAGS*/
.club-info-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.club-title {
  margin-left: calc(3% + 1px);
  margin-top: 1%;
  font-family: Qanelas Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 2.1vw;
  letter-spacing: 0.03em;
  color: #000000;
  word-wrap: break-word;
}

.tags-flex {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}

.tag {
  margin-left: 0.5vw;
  background-color: #e2e2e2;
  border-radius: 6px;
  padding: 0vw 0.5vw 0vw 0.5vw;
  font-family: Qanelas Soft;
  font-size: 1.1vw;
  flex-direction: row;
}

.app-flex {
  margin-top: 0.4vw;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}

#app-req {
  background-color: #fff1ae;
}

#app-not-req {
  background-color: #cdeaff;
}

#open-tag {
  background-color: #c9f0c9;
}

#not-open-tag {
  background-color: #ffd6d6;
}

.left-box {
  margin-top: 2.5%;
  width: 100%;
  left: 0%;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  word-wrap: break-word;
}

.desc-text {
  position: relative;
  left: 3%;
  margin: 0vw 1vw 1.5vw 0.7vw;
  font-family: Qanelas Soft;
  font-style: normal;
  font-size: 1.1vw;
  line-height: 150%;
  letter-spacing: 0.03em;
  width: 90%;
}

/*====================================*/
/*RIGHT FLEXBOX*/
.flex-container-right {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 29.808vw;
  margin-top: 0.5vw;
  top: 30.539vw;
  left: 57.49vw;
}

.contact-box {
  width: 100%;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.resources-box {
  width: 100%;
  margin-top: 2%;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.right-box {
  width: 100%;
  background: #ffffff;
  margin-top: 3.5%;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  word-wrap: break-word;
}

#right-text {
  width: 90%;
}

.resources-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8vw;
}

#resources {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.4vw;
  letter-spacing: 0.03em;
}

.res-img {
  position: relative;
  margin-left: 0.7vw;
  top: 0.3vw;
  width: 1.5vw;
}
.link-flex {
  position: relative;
  width: 90%;
  justify-content: space-around;
  margin: 1vw 1vw 1vw 0.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.link-image {
  width: 2.5vw;
  margin-left: 1vw;
  height: auto;
}

.link-image:hover {
  filter: invert(67%) sepia(33%) saturate(4603%) hue-rotate(186deg)
    brightness(96%) contrast(97%);
}
/*====================================*/
/*GENERAL TAGS*/

.contact-box p,
.resources-box p,
.right-box p,
.left-box p {
  letter-spacing: 0.03em;
  position: relative;
  margin: 1vw 1vw 1.7vw 0.7vw;
  left: 3%;
  top: 0.7vw;
  font-family: Qanelas Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 1.35vw;
  color: #3d3d3d;
}

/*====================================*/
/*ACCORDION TAGS*/
.accordion-club {
  letter-spacing: 0.03em;
  width: 100%;
  text-align: left;
  margin-left: 1%;
}

.accordion__button-club {
  /* background-color: #f4f4f4; */
  display: inline;
  color: #444;
  cursor: pointer;
  padding-top: 0.5vw;
  padding-left: 1vw;
  left: 3%;
  padding-bottom: 0vw;
  text-align: left;
  border-radius: 10px;
}

.accordion__heading-club {
  display: inline-block;
  width: 1%;
}

hr {
  margin-left: 3.9%;
  border-top: 1px;
}

#gray-ev-link {
  color: #8d8d8d;
}

.event-flex-container {
  width: 87%;
  margin-left: 1.5vw;
  display: inline-flex;
  font-family: Qanelas Soft;
  font-size: 1.2vw;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}

.event-flex-left {
  font-weight: bold;
  font-size: 1.1vw;
  color: #444;
}

.event-flex-right {
  font-size: 1.1vw;
  text-align: end;
  min-width: 50%;
}
.accordion__button-club:focus {
  outline: 0;
}

.accordion__button-club:before {
  display: inline-block;
  content: '';
  height: 0.5vw;
  width: 0.5vw;
  margin-right: 10px;
  margin-bottom: 7px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg);
}

.accordion__button-club[aria-expanded='true']::before,
.accordion__button-club[aria-selected='true']::before {
  transform: rotate(-135deg);
}

[hidden] {
  display: none;
}

.accordion__panel-event {
  animation: fadein 0.35s ease-in;
  text-align: left;
  border: none;
  width: 80%;
  font-family: Qanelas Soft;
  font-size: 1.1vw;
  margin-left: 2vw;
  padding: 1vw 1vw 1vw 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0vw;
  background-color: #e2e2e2;
  border-radius: 6px;
  word-wrap: break-word;
}

@media screen and (max-width: 850px) {
  .flex-container-chungus {
    flex-direction: column;
    margin-bottom: 1.5%;
  }

  .flex-container-left {
    width: 100%;
    margin-bottom: 0;
  }

  .flex-container-right {
    margin-top: 1.5%;
    width: 100%;
  }

  .club-title {
    margin-left: 3%;
    margin-top: 1%;
    font-family: Qanelas Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: 0.03em;
    color: #000000;
  }

  .tag {
    margin-left: 0.5vw;
    background-color: #e2e2e2;
    border-radius: 6px;
    padding: 0.1vw 0.5vw 0.1vw 0.5vw;
    font-family: Qanelas Soft;
    font-size: 7pt;
    flex-direction: row;
  }

  .desc-box p,
  .events-box p,
  .contact-box p,
  .resources-box p {
    position: relative;
    left: 3%;
    top: 0.7vw;
    font-family: Qanelas Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 8pt;
    color: #3d3d3d;
    letter-spacing: 0.03em;
  }

  .event-flex-container {
    width: 90%;
    display: inline-flex;
    font-family: Qanelas Soft;
    font-size: 8pt;
    margin-left: 3%;
    justify-content: space-between;
    letter-spacing: 0.03em;
  }

  .event-flex-left,
  .event-flex-right,
  .left-box .desc-text,
  .right-box .desc-text {
    font-size: 10px;
  }

  .left-box p,
  .right-box p,
  .contact-box p {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .accordion__panel-event {
    animation: fadein 0.35s ease-in;
    text-align: left;
    border: none;
    width: 90%;
    font-family: Qanelas Soft;
    font-size: 8pt;
    margin-left: 2vw;
    padding: 1vw 1vw 1vw 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0vw;
    background-color: #e2e2e2;
    border-radius: 6px;
    letter-spacing: 0.03em;
  }

  .link-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .link-flex {
    width: 100% !important;
  }

  .res-img {
    position: relative;
    margin-left: 2vw;
    top: 0.3vw;
    width: 12pt;
  }

  .link-flex {
    position: relative;
    width: 75%;
    justify-content: space-around;
    margin: 1vw 1vw 1vw 1.7vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header-img {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
  }

  .flex-container-chungus {
    width: 100vw;
    left: 0;
  }
}
