/*BANNER IMAGE*/
.header-img {
  position: relative;
  width: 75vw;
  height: 28.539vw;
  left: 12.5vw;
  top: 1vw;
  background-image: url('./assets/ethicalheader.png');
  background-size: cover;
  background-position: 50% 10%;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}
 
.flex-container-chungus {
  width: 75vw;
  left: 12.5vw;
  position: relative;
  margin-top: 1.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*====================================*/
/*LEFT FLEXBOX*/
.flex-container-left {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 43.99vw;
  left: 12.5vw;
  top: 30.539vw;
  margin-bottom: 3vw;
}
 
.logo-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  left: 5%;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
 
.club-logo {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  position: relative;
  width: 17%;
  height: auto;
}
 
/*THIS FLEXBOX HOLDS TITLE AND TAGS*/
.club-info-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}
 
.club-title {
  margin-left: 3%;
  margin-top: 1%;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.1vw;
  letter-spacing: 0.02em;
  color: #000000;
}
 
.tags-flex {
  margin-top: 0.5vw;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}
 
.tag {
  margin-left: 0.5vw;
  background-color: #e2e2e2;
  border-radius: 6px;
  padding: 0.1vw 0.5vw 0.1vw 0.5vw;
  font-family: roboto, sans-serif;
  font-size: 1.1vw;
  flex-direction: row;
}
 
.app-flex {
  margin-top: 0.3vw;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}
 
#app-req {
  background-color: #fff1ae;
}
 
#app-not-req {
  background-color: #cdeaff;
}
 
#open-tag {
  background-color: #c9f0c9;
}
 
#not-open-tag {
  background-color: #ffd6d6;
}
 
.desc-box {
  margin-top: 1.5%;
  width: 100%;
  left: 0%;
  top: 165px;
 
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
 
.desc-text {
  margin-left: 4%;
  margin-right: 3%;
  margin-bottom: 3%;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 1.2vw;
  line-height: 150%;
  letter-spacing: 0.02em;
}
 
.events-box {
  margin-top: 1.5%;
  width: 100%;
  left: 0%;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 10px;
}
 
/*====================================*/
/*RIGHT FLEXBOX*/
.flex-container-right {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 30.008vw;
  top: 30.539vw;
  left: 57.49vw;
}
 
.contact-box {
  width: 100%;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
 
.resources-box {
  width: 100%;
  margin-top: 2%;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
 
.resources-flex {
  display: flex;
  flex-direction: column;
}
 
#resources {
  margin-left: 1.65vw;
}
 
.res-img {
  position: relative;
  margin-left: 0.7vw;
  top: 0.3vw;
  width: 1.5vw;
}
.link-flex {
  position: relative;
  width: 75%;
  justify-content: space-around;
  margin: 1vw 1vw 1vw 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
 
.link-image {
  width: 2.5vw;
  margin-left: 1vw;
  height: auto;
}



/*====================================*/
/*GENERAL TAGS*/
.desc-box p,
.events-box p,
.contact-box p,
.resources-box p {
  position: relative;
  margin: 1vw 1vw 1.7vw 0.7vw;
  left: 3%;
  top: 0.7vw;
  font-family: monserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3vw;
  color: #3d3d3d;
}
 
/*====================================*/
/*ACCORDION TAGS*/
.accordion-club {
  width: 90%;
  text-align: left;
  margin-left: 20px;
}
 
.accordion__button-club {
  /* background-color: #f4f4f4; */
  display: inline;
  color: #444;
  cursor: pointer;
  padding-top: 0.5vw;
  padding-left: 1vw;
  left: 3%;
  padding-bottom: 0vw;
  text-align: left;
  border-radius: 10px;
}
.accordion__heading {
  display: inline-block;
  width: 1%;
}
.event-flex-container {
  width: 87%;
  margin-left: 1.5vw;
  display: inline-flex;
  font-family: roboto, sans-serif;
  font-size: 1.2vw;
  justify-content: space-between;
}
 
.event-flex-left {
  font-weight: bold;
}
.accordion__button-club:focus {
  outline: 0;
}
 
.accordion__button-club:before {
  display: inline-block;
  content: '';
  height: 0.5vw;
  width: 0.5vw;
  margin-right: 10px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-135deg);
}
 
.accordion__button-club[aria-expanded='true']::before,
.accordion__button-club[aria-selected='true']::before {
  transform: rotate(45deg);
}
 
[hidden] {
  display: none;
}
 
.accordion__panel-event {
  animation: fadein 0.35s ease-in;
  text-align: left;
  border: none;
  width: 80%;
  font-family: roboto, sans-serif;
  font-size: 1.2vw;
  margin-left: 2vw;
  padding: 1vw 1vw 1vw 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0vw;
  background-color: #e2e2e2;
  border-radius: 6px;
}