.clubpage-wrapper {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 67px;
  position: relative;
  font-family: Qanelas Soft;
  letter-spacing: 0.03em;
}

.clubpage {
  padding-top: 2vw;
  width: 80vw;
  margin: 0 auto 0 auto;
}

.clubpage h1 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.clubpage h2 {
  font-size: 1em;
}

.clubpage p {
  font-size: 1em;
}

.clubpage-header {
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.clubpage-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.clubpage-content-header-icon {
  color: #8D8D8D;
}

.clubpage-content-header-icon:hover {
  cursor: pointer;
}

.clubpage-header-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.header-tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}


.clubpage-header-left {
  flex: 0 0 25%;
  justify-content: center;
}
.clubpage-header-middle {
  flex: 1 1 auto;
  padding: 20px;
}
.clubpage-header-right {
  flex: 0;
  padding: 15px;
  justify-content: center;
}

.club-title {
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 2.1vw;
  color: #000000;
  word-wrap: break-word;
}

.header-img {
  z-index: 1;
  width: 100%;
  height: 28.539vw;
  background-size: cover;
  background-position: 50% 10%;
  border-radius: 10px 10px 0 0;
}

.club-logo {
  z-index: 2;
  border-radius: 50%;
  margin: -50px auto 0 auto;
  display: block;
  width: 60%;
  height: auto;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.clubpage-favorite-button {
  display:inline-flex;
  align-items: center;
  background: none;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  border: 2px solid #E95F5F;
  font-weight: bolder;
  color: #E95F5F;
}

.clubpage-favorite-button span{ 
  margin-left: 0.5em;
}

.clubpage-favorite-button:hover {
  cursor: pointer;
}

.clubpage-header-nav {
  display: flex;
  flex-direction: row;
  padding: 15px 20px 0 20px;
}

.clubpage-header-nav-item {
  color: #8D8D8D;
  background: none;
  border: none;
  font-weight: bolder;
  font-size: 1em;
  margin: 0 15px 0 15px;
  padding: 10px 0 10px 0;
  border-bottom: 4px solid transparent;
}

.clubpage-header-nav-item:hover{ 
  cursor: pointer;
  opacity: 0.8;
}

.clubpage-header-nav-item.selected {
  color: #367BC6;
  border-bottom: 4px solid #367BC6;
}

.clubpage-content {
  display: flex;
  flex-direction: row;
  margin: 30px 0 30px 30px;
}

.clubpage-content-left {
  flex: 2;
  margin-right: 60px;
}

.clubpage-content-item{
  margin-bottom: 40px;
}

.clubpage-content-right {
  flex: 1;
}

.clubpage-apply-btn {
  display: inline-flex;
  background-color: #54A0F1;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 25px 8px 25px;
  border-radius: 10px;
  margin: 0 auto 0 auto;
  align-items: center;
}

.clubpage-apply-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.clubpage-tile {
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 5px 25px 25px 25px;
  margin-bottom: 20px;
}

.clubpage-sm-link-list {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5em;
}

.clubpage-sm-link {
  width: 2.25vw;
  margin-right: 0.5vw;
  height: auto;
}

.clubpage-content-resource {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clubpage-content-resource img {
  width: 1.5em;
}

@media screen and (max-width: 850px) {
  .clubpage {
    width: 85vw;
  }

  .clubpage h1 {
    font-size: 3vw;
  }

  .clubpage h2 {
    font-size: 2.5vw;
  }

  .clubpage p {
    font-size: 2.5vw;
  }

  .club-title {
    font-size: 4vw;
    letter-spacing: 0.03em;
    color: #000000;
  }

  .clubpage-header-content {
    flex-direction: column;
  }

  .clubpage-header-content img {
    width: 20vw;
    margin: -70px auto 0 auto;
  }

  .clubpage-header-middle {
    padding: 15px 15px 5px 15px;
  }

  .clubpage-header-right {
    padding: 0 15px 0 15px;
  }

  .clubpage-favorite-button {
    display:inline-flex;
    align-items: center;
    background: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 2px solid #E95F5F;
    font-weight: bolder;
    color: #E95F5F;
  }
  
  .clubpage-favorite-button span{ 
    margin-left: 0;
    font-size: 1em;
  }

  .clubpage-content {
    flex-direction: column;
    margin: 2vw;
  }

  .clubpage-content-left {
    margin-right: 0;
  }

  .clubpage-content-item{
    margin-bottom: 20px;
  }
  
  .clubpage-header-nav-item {
    font-size: 0.9em;
    margin: 0 10px 0 10px;
  }

  .clubpage-sm-link {
    width: 5vw;
    margin-right: 10px;
  }

  .clubpage-apply-btn {
    padding: 5px 15px 5px 15px;
    font-size: 0.8em;
  }

  .header-img {
    width: 100%;
    height: auto;
    left: 0;
  }
}
