.clubcard {
  position: relative;
  width: 362px;
  height: 280px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  font-family: Qanelas Soft;
  margin-bottom: 20px;
  /* margin-right: 18px; */
  text-decoration: none;
}
.clubcard:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.banner-content {
  width: 100%;
  position: relative;
}

.appreq-tag, .noappreq-tag {
  position: absolute;
  text-decoration: none;
  font-size: 11px;
  color: black;
  top: 30px;
  right: -12px;
  padding: 8px 16px;
  background: #fff1ae;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.noappreq-tag {
  background: #C9F0C9;
}

.appreq-tag i {
  margin-right: 3px;
}

.clubcard-banner {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.clubcard-logo {
  width: 78px;
  height: 78px;
  border-radius: 10px;
}

.clubcard-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.clubcard-content-row1 {
  display: flex;
  flex-direction: row;
}

.clubcard-text {
  padding-left: 10px;
  flex-grow: 1;
  color: #2b2b2b;
  height: 78px;
  max-height: 78px;
  overflow: hidden;
}

.clubcard-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.clubcard-description {
  font-size: 11px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
}
.one-line {
  -webkit-line-clamp: 4;
}
.two-line {
  -webkit-line-clamp: 3;
}
.three-line {
  -webkit-line-clamp: 2;
}

.clubcard-like {
  
  color: #e95f5f;
}

.clubcard-content-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.clubcard-tags {
  display: flex;
  flex-direction: row;
}

.clubcard-tag {
  font-size: 10px;
  padding: 2px 7px;
  margin-right: 5px;
  color: #747474;
  border: 1px solid #747474;
  border-radius: 6px;
}

.clubcard-newmembers {
  font-size: 10px;
  color: #444;
  line-height: 20px;
}
