.landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  overflow: hidden;
  background-image: url('./assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.landing img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.landing .content {
  min-height: 87vh;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  padding-top: 40px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 80px;
}

.landing .text {
  display: flex;
  flex-direction: column;
  position: relative;
  /* padding: 100px 50px 100px 150px; */
  box-sizing: border-box;
  max-width: 650px;
  float: left;
  align-items: center;
}

.landing .text h3 {
  color: #2b2b2b;
  font-size: 2em;
  line-height: 1.2em;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
  margin-bottom: 5px;
}

.landing .text p {
  color: #2b2b2b;
  font-size: 1.1em;
  line-height: 1.4em;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 12px;
  letter-spacing: 0.04em;
}

.landing .text a {
  width: 250px;
  font-size: 0.9em;
  line-height: 1em;
  background: white;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  color: #ffffff;
  background-color: #54a0f1;
  text-decoration: none;
  padding: 14px 30px 14px 30px;
  border-radius: 6px;
  text-align: center;
}

.landing .text a:hover {
  background-color: #6eaff5;
}

.landing .content .imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
}

.landing .content .imageContainer img {
  margin-top: 50px;
  width: 450px;
}

.landing .moreContent {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2700px;
  align-items: center;
  justify-content: flex-start;
}

.landing .moreContent .featureWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.landing .moreContent .feature1, .feature2, .feature3 {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 20px;
  margin-bottom: 150px;
}

.landing .moreContent .feature2 {
  justify-content: flex-start;
  padding-left: 30px;
}

.landing .moreContent .feature1 .description, .feature3 .description {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 50px;
}

.landing .moreContent .feature2 .description {
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
  margin-left: 50px;
}

.landing .moreContent .feature1 img, .feature3 img {
  width: 542px;
  position: relative;
  margin-right: 74px;
}
.landing .moreContent .feature2 img {
  width: 542px;
  position: relative;
  margin-left: 24px;
}

.landing .moreContent .featureWrapper p {
  width: 400px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  text-align: left;
}

.landing .moreContent .featureWrapper h2 {
  line-height: 40px;
  width: 500px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  text-align: left;
}

.landing .moreContent .interestForm a {
  font-size: 0.9em;
  text-align: left;
  line-height: 1em;
  background: white;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  color: #ffffff;
  background-color: #54a0f1;
  text-decoration: none;
  padding: 14px 20px 14px 20px;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}

.landing .moreContent .interestForm h2 {
  margin-top: 50px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2b2b2b;
}

.landing .moreContent .interestForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1235px) and (min-width: 980px) {
  .landing .moreContent .feature1 img, .feature2 img, .feature3 img {
    width: 42vw !important;
    max-width: 542px;
  }

  .landing .moreContent .featureWrapper h2 {
    width: 450px;
    font-size: 1.4em;
  }
}

@media screen and (max-width: 1080px) and (min-width: 980px) {
  .landing .moreContent .featureWrapper h2 {
    width: 400px;
    line-height: 35px;
    font-size: 1.3em;
  }
}

/* fully mobile media-query */
@media screen and (max-width: 980px) {
  .landing {
    background: white;
  }

  .landing .content {
    width: 100%;
    margin-bottom: 30px;
  }

  .landing .content .text {
    margin: 0px;
    margin-bottom: 75px;
    padding: 0px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .landing .content .text h3 {
    font-size: 24px;
    width: 90%;
  }

  .landing .content .text p {
    font-size: 14px;
    letter-spacing: 0.05em;
    width: 90%;
  }

  .landing .content .imageContainer {
    float: right;
    padding-top: 20px;
    margin: 0px;
    width: 360px;
    height: 275px;
    /* margin-bottom: 50px; */
  }

  .landing .content .imageContainer img {
    position: absolute;
    margin-top: 0px;
    width: 360px;
    height: 319px;
  }

  .landing .moreContent .featureWrapper {
    flex-direction: column;
    text-align: center;
  }

  .landing .moreContent .featureWrapper .description {
    margin: 0px;
    display: flex;
    flex-direction: column;
    float: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 50px;
  }

  .landing .moreContent .featureWrapper .description p {
    text-align: center;
    font-size: 14px;
    width: 95%;
  }

  .landing .moreContent .featureWrapper .description h2 {
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 98%;
  }

  .landing .moreContent .featureWrapper .feature1, .feature3 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
  }
  .landing .moreContent .featureWrapper .feature2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
  }

  .landing .moreContent .interestForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .landing .moreContent {
    flex-direction: column;
    height: 2450px;
    text-align: center;
    margin-top: 0px;
  }

  .landing .moreContent .featureWrapper img {
    width: 90vw;
    max-width: 361px;
    max-height: 280px;
    margin-left: 76px;
    margin-bottom: 20px;
  }

  .landing .moreContent .feature2 img {
    margin-left: 4px;
  }

  .landing .moreContent h2 {
    font-size: 20px;
    width: 90%;
  }

  .landing .moreContent .interestForm {
    margin-top: 0px;
    height: 730px;
  }
}

/* larger screens */
@media screen and (min-width: 1700px) {
  .landing .content {
    margin-bottom: 70px;
  }

  .landing .content .text {
    display: flex;
    max-width: 900px;
  }

  .landing .content .text h3 {
    font-size: 40px;
  }

  .landing .content .text p {
    font-size: 24px;
    letter-spacing: 0.05em;
  }

  .landing .content .text a {
    font-size: 20px;
    width: 300px;
    padding: 20px 10px 20px 10px;
  }

  .landing .content .imageContainer {
    width: 600px;
    height: 500px;
  }

  .landing .content .imageContainer img {
    width: 600px;
  }

  .landing .moreContent {
    height: 3400px;
  }

  .landing .moreContent img {
    min-height: 600px;
  }

  .landing .moreContent .description {
    width: 700px;
  }

  .landing .moreContent .description h2 {
    font-size: 32px;
    width: 600px;
  }

  .landing .moreContent .description p {
    font-size: 24px;
    width: 550px;
  }

  .landing .moreContent .feature1, .feature2, .feature3 {
    margin-bottom: 150px;
  }

  .landing .moreContent .interestForm {
    margin-bottom: 0px;
  }

  .landing .moreContent .interestForm h2 {
    font-size: 32px;
  }

  .landing .moreContent .interestForm img {
    min-height: 0px;
    width: 250px;
  }

  .landing .moreContent .interestForm .imgContainer {
    text-align: center;
    width: 75%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .screen3 {
    animation: screens infinite 5s linear;
  }
  .screen2 {
    animation: screens infinite 6s linear;
  }
  .screen1 {
    animation: screens infinite 4s linear;
  }
  .landing .ball3 {
    animation: balls infinite 4s linear;
  }
  .landing .ball2 {
    animation: balls infinite 3.6s linear;
  }
  .landing .ball1 {
    animation: balls infinite 3.3s linear;
  }
  .landing .ball4 {
    animation: balls infinite 3s linear;
  }
}

@keyframes screens {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@keyframes balls {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, -15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
