.landing .form {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  box-shadow: 3px 3px 1px rgb(0, 0, 0, 0.3);
  width: 400px;
  height: 574px;
  border-radius: 15px;
  padding: 20px;
  margin-top: 60px;
  border: solid 1px #949494;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: white;
}

.landing .inputs {
  display: flex;
  justify-content: flex-start;
}

.landing .inputs .formGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landing .inputs .formGroup .formHeader {
  float: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.landing .inputs .formGroup .formHeader h2 {
  font-size: 12px;
  margin-left: 24px;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
  margin-top: 20px;
}

.landing .inputs .formGroup p {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  font-size: 12px;
  margin-left: 10px;
  width: 100%;
  text-align: left;
  margin: 0px;
  margin-left: 28px;
}

.landing .imgContainer {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.landing .inputs .buttonWrapper {
  margin-bottom: 12px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.landing button {
  margin-top: 10px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #54a0f1;
  color: white;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  width: 200px;
  margin-bottom: 10px;
}

.landing :focus {
  outline: 0px;
}

.landing .inputs .formGroup .userInput {
  width: 356px;
  padding: 10px;
  margin: 8px;
  margin-top: 3px;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  border-radius: 5px;
  border: solid 1px #949494;
  color: #4e4e4e;
}

.landing .inputs .complete h3 {
  margin: 0px;
  margin-bottom: 20px;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.landing ::placeholder {
  color: #949494;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.05em;
  font-size: 12px;
}

.landing .inputs .formGroup .complete {
  margin-top: 10%;
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.landing .inputs .formGroup .messageText {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.landing .inputs .formGroup .complete .imgContainer {
  margin-top: 10px;
}

.landing .inputs .formGroup .complete h3 {
  margin: 0px;
  width: 100%;
  margin-bottom: 30px;
}

.landing .inputs .formGroup .complete a {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  width: 200px;
  line-height: 16px;
}

@media screen and (max-width: 850px) {
  .landing .moreContent .formGroup .imgContainer {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .landing .moreContent .formGroup img {
    height: 150px;
    margin: 0px;
  }
}

@media screen and (max-width: 850px) {
  .landing .moreContent .interestForm .inputs {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .landing .moreContent .interestForm .form {
    width: 375px;
    height: 700px;
    border: none;
    box-shadow: unset;
    margin-top: 0px;
  }
  .landing .moreContent .interestForm .formGroup {
    width: 100%;
  }

  .landing .inputs .formGroup .userInput {
    font-size: 16px;
    width: 100%;
  }
  .landing .inputs .formGroup p {
    margin-left: -15px;
  }

  .landing .inputs .formGroup h2 {
    width: 100%;
    margin-right: 35px;
  }
}

@media screen and (min-width: 1700px) {
  .landing .moreContent .interestForm .inputs {
    width: 100%;
  }
  .landing .moreContent .interestForm .formGroup {
    padding: 10px;
    width: 100%;
  }
  .landing .moreContent .interestForm .form {
    width: 500px;
    height: 700px;
  }

  .landing .inputs .formGroup .complete h3 {
    font-size: 20px;
  }

  .landing .inputs .formGroup .formHeader h2 {
    font-size: 16px;
    text-align: left;
    width: 100%;
    margin-top: 20px;
  }

  .landing .inputs .formGroup p {
    font-size: 16px;
  }

  .landing .inputs .formGroup .userInput {
    font-size: 16px;
    width: 90%;
  }

  .landing .inputs .formGroup .complete .messageText a {
    font-size: 16px;
    line-height: 22px;
    width: 250px;
    margin-top: 20px;
  }

  .landing .inputs .formGroup .complete .imgContainer {
    margin-top: 30px;
  }

  .landing ::placeholder {
    font-size: 16px;
  }

  .landing button {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    width: 250px;
  }
}
