/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding-top:0.5em;
    border-radius: 6px;
    overflow: hidden;
}

.main-content {
    flex: 4;
}

.container .subtext {
    color: #8C8C8C;
}

.month {
    /*background-color:greenyellow*/
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8em;
    flex-grow: 1;
}

.weekdays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-col {
    flex: 1;
    margin-right: 2em;
    min-width: 120px;
    text-align: end;
}

.right-col {
    flex: 8;
    overflow-x: scroll;
    overflow-y: visible;
}

.right-col:not(#scroll-dummy) {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.right-col:not(#scroll-dummy)::-webkit-scrollbar {
    display: none;
}

.right-col-stretcher {
    width: 400%;
}

.hidden {
    opacity: 0;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.day > *, .dashboard-app-tl-clubs > span {
    font-size: smaller;
}

.day-num {
    padding: 0.2em 0.5em;
}


.day-today {
    position: relative;
    border-radius: 50%;
    border: 2px solid #888888
}

/*
TODAY LINE BROKEN DUE TO SCROLLING MECHANICS
.day-today::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -5000%;
    content: '';
    width: 2px;
    height: 5000%;
    background-color: #D1D3D4;
}
*/

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: none;
    padding: 0.4em 0.8em;
    margin: 0 0 0.3em 0;
    font-size: smaller;
    cursor: pointer;
}

.event:hover {
    filter: brightness(95%);
}

.event-name {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    font-size: small;
    margin: 0;
}

.event-concur-row {
    display: flex;
    flex-direction: row;
}

.club-name {
    display: flex;
    flex-direction: row;
    text-align: start;
}

.club-icon {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin-right: 0.5em;
}

.focused-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-left: 1em;
}

.focused-content { 
    padding: 1em 0.5em 1em 1em;
}

.focused-button {
    display:flex;
    flex: 1;
    height: 100%;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.focused-club-icon {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-right: 0.5em;
    background-color: green;
}

.focused-club-icon-wrapper {
    display:flex;
    margin-bottom: 0.5em;
    justify-content: space-between;
}

#scroll-dummy {
    overflow-x: scroll;
}