.content {
    justify-content: center;
}

.timeline {
    width: 360px;
    height: 230px;
    border-radius: 6px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

.onboarding {
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

.text h3{
    font: Qanelas Soft;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 22.3px;
    letter-spacing: 0.02em;
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
}

.caption-text p {
    font-family: Qanelas Soft;
    font-style: normal;
    font-size: 18px;
    line-height: 22.3px;
    letter-spacing: 0.02em;
}

.caption-text {
    width: 444px;
    height: 44px;
    text-align: center;
    margin: auto;
}

.onboarding .content .fifth {
    float: right;
    height: 33px;
    background-color:white;
    width: 800px;
}

.onboarding .content .fifth #get-started-button {
    margin-top: 5px;
    font-family: Qanelas Soft;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1em;
    background-color: #54a0f1;
    color: white;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    transition: background-color 0.15s;
    width: 140px;
    height: 33px;
    margin-bottom: auto;
    margin-top: 75px;
    margin-right: 25px;
    float: right;
}

#get-started-button:hover {
    background-color: #6eaff5;
    cursor: pointer;
}


.onboarding .content .sixth #invalid-button {
    display: flex;
    background-color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    float: center;
    margin-top: 75px;
    margin-right: 25px;
    margin-left: 240px;
    border: none;
    height: 10px;
}

.onboarding .content .balls {
    padding: 5px;
}
