.content {
    justify-content: center;
}

.register-bear {
    width: 143px;
    height: 143px;
    border-radius: 6px;
}
.imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

.onboarding {
    width: 600px;
    height: 500px;
    border-radius: 10px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.text h3{
    font: Qanelas Soft;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 22.3px;
    letter-spacing: 0.02em;
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
}

.caption-text p {
    font-family: Qanelas Soft;
    font-style: normal;
    font-size: 18px;
    line-height: 22.3px;
    letter-spacing: 0.02em;
}

.caption-text {
    width: 444px;
    height: 44px;
    text-align: center;
    margin: auto;
}

.onboarding .content {
    float: right;
    width: 600px;
    height: 33px;
}

.onboarding .content .fifth {
    float: center;
    width: 200px;
    height: 33px;
}

.onboarding .content #i-am-sure-button {
    margin-top: 5px;
    font-family: Qanelas Soft;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1em;
    background-color: #54a0f1;
    color: white;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    transition: background-color 0.15s;
    width: 120px;
    height: 33px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

#get-started-button:hover {
    background-color: #6eaff5;
    cursor: pointer;
}


.onboarding .content #nevermind-button {
    margin-top: 5px;
    font-family: Qanelas Soft;
    background-color: white;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.125em;
    color: #2B2B2B;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    transition: background-color 0.15s;
    float: center;
}

.iamsure {
    float: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nevermind {
    float: center;
    align-items: center;
    display: flex;
    justify-content: center;
}