.polaroid {
  height: 220px;
  width: 150px;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
  margin-bottom: 10px;
}

.polaroid:hover {
  background: #eeeeee;
}

.polaroid imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.polaroid .text h1 {
  color: #2b2b2b;
  font-size: 16px;
  font-family: Qanelas Soft;
  font-weight: 200;
  font-style: normal;

  margin-top: 0px;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.polaroid .text h2 {
  color: #4b5d52;
  font-size: 14px;
  font-family: Qanelas Soft;
  font-weight: 200;
  font-style: normal;

  margin-top: 0px;
  margin-bottom: 0px;

  display: flex;
  align-items: flex-start;
}

.polaroid .default-image {
  height: 120px;
  margin-bottom: 0px;
}
