/* Overall page content layout */
.signup .content {
  padding-top: 86.6px;
  min-height: calc(100vh - 86.6px - 82.6px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

/* Description styling */
.signup .text {
  margin-left: 5%;
  margin-right: 9%;
  max-width: 550px;
}

.signup .text h3 {
  padding-top: 10px;
  font-size: 40px;
}

.signup li {
  display: flex;
  align-items: center;
  counter-increment: li;
  margin: 30px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-top: 10px;
}

.signup ol {
  list-style: none;
  counter-reset: li;
  margin-left: -30px;
}

.signup li::before {
  content: counter(li);
  color: white;
  display: inline-block;
  width: 0.8em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: center;
  direction: rtl;
  background: #54a0f1;
  border-radius: 1000px;
  padding: 12px;
  font-size: 25px;
  font-weight: 700;
  line-height: 0.8em;
}

/* Overall form layout */
.signup .form {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  box-shadow: 3px 3px 1px rgb(0, 0, 0, 0.3);
  width: 350px;
  height: 454px;
  border-radius: 15px;
  padding: 20px;
  border: solid 1px #949494;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 6%;
  margin-top: 5%;
}

.signup .form .formGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* Form header: image and "Register your club */
.signup .formHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.signup .formHeader h2 {
  font-size: 20px;
}

.signup .form .imageContainer img {
  height: 125px;
  width: auto;
}

/* Regular text input styling */
.signup .form .formGroup .userInput {
  width: 290px;
  padding: 10px;
  margin: 8px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  border-radius: 5px;
  border: solid 1px #949494;
  color: #4e4e4e;
}

/* Dropdown styling */
.signup .drops {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

/* Button wrapper styling */
.signup .buttonWrapper {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 310px;
}

.signup .buttonWrapper .help {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: 5px;
}

.signup .buttonWrapper .help a {
  color: #4e4e4e;
  transition: color 0.15s;
}

.signup .buttonWrapper .help a:hover {
  color: #949494;
}

.signup .buttonWrapper p {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin: 0px;
  float: left;
  margin-right: 6px;
  color: #757575;
  letter-spacing: 0.05em;
}

.signup .buttonWrapper a {
  text-decoration: none;
  font-size: 12px;
  margin: 0px;
  float: left;
  color: #2b2b2b;
}

.signup button {
  margin-top: 10px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #54a0f1;
  color: white;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

.signup .form button:hover {
  background-color: #6eaff5;
}

/* Invalid input notice styling */
.signup .conInputInvalid, .emailInputInvalid {
  width: 290px;
  padding: 10px;
  margin: 8px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  border-radius: 5px;
  border: solid 1px #ff2d2d;
  color: #4e4e4e;
}

.signup .error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #faf5cc;
  z-index: 1;
  opacity: 0.9;
  border-radius: 6px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
}

.signup .error.conError {
  margin-left: 150px;
  margin-top: 320px;
}

.signup .error.emailError {
  margin-left: 214px;
  margin-top: 214px;
}

.signup .error.tagError,
.error.tagErrorNone {
  margin-left: 160px;
  margin-top: 163px;
}

.signup .error.emptyError1 {
  margin-left: 195px;
  margin-top: 189px;
}

.signup .error.emptyError2 {
  margin-left: 195px;
  margin-top: 243px;
}

.signup .error.emptyError3 {
  margin-left: 195px;
  margin-top: 296px;
}

.signup .conError,
.emailError,
.tagError, 
.emptyError1,
.emptyError2,
.emptyError3 {
  /* transition to visible popup */
  visibility: visible;
  opacity: 1;
  transition: opacity 0.12s 0.1s ease-in;
}

.signup .tagErrorNone {
  /* transition to invisible popup */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s,
    opacity 0.6s cubic-bezier(0.58, 0.05, 0.76, 0.89);
}

.conError img,
.emailError img,
.tagError img,
.tagErrorNone img,
.emptyError1 img,
.emptyError2 img,
.emptyError3 img {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}

.conError p,
.emailError p,
.tagError p,
.tagErrorNone p,
.emptyError1 p,
.emptyError2 p,
.emptyError3 p {
  color: #ff2d2d;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 8px;
}

.signup .error.conErrorNone,
.error.emailErrorNone,
.error.emptyErrorNone,
.error.unset {
  display: none;
}

/* Page Three styling */
.signup .complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.signup .complete .imageContainer {
  margin-bottom: 40px;
}

.signup .complete h3 {
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  width: 310px;
}

.signup .complete h2 {
  margin: 0px;
  margin-top: 80px;
  font-size: 12px;
  color: #757575;
}

.signup .complete a {
  text-decoration: none;
  font-size: 12px;
  margin: 4px;
  float: left;
  color: #2b2b2b;
}

.signup .complete a:hover {
  color: #4e4e4e;
}

/* Miscellaneous */
::placeholder {
  color: #949494;
}

:focus {
  outline: 0px;
}

/* Media query for mobile */
@media screen and (max-width: 850px) {
  .signup .content {
    align-items: unset;
  }
  .signup .content .text {
    display: none;
  }
  .signup .content .form {
    border: none;
    box-shadow: none;
    margin: 0px;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1700px) {
  .signup .text h3 {
    font-size: 50px;
  }

  .signup li {
    font-size: 22px;
    margin: 40px;
  }

  .signup li::before {
    font-size: 32px;
    padding: 16px;
    margin-right: 20px;
  }

  .signup .form {
    width: 480px;
    height: 620px;
    border-radius: 15px;
    padding: 28px;
  }

  .signup .formHeader h2 {
    font-size: 26px;
  }

  .signup .form .imageContainer img {
    height: 180px;
    width: auto;
  }

  .signup .form .formGroup .userInput {
    width: 400px;
    padding: 12px;
    margin: 12px;
    font-size: 16px;
    border-radius: 6px;
  }

  .signup .buttonWrapper {
    width: 428px;
  }

  .signup .buttonWrapper p {
    font-size: 16px;
  }

  .signup .buttonWrapper a {
    font-size: 16px;
  }

  .signup button {
    padding: 12px 24px 12px 24px;
    font-size: 18px;
  }

  .signup .conInputInvalid,
  .emailInputInvalid {
    width: 400px;
    padding: 12px;
    margin: 12px;
    font-size: 16px;
    border-radius: 6px;
  }

  .signup .emailError,
  .conError {
    margin-left: 276px;
    margin-top: 290px;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .signup .conError {
    margin-left: 196px;
    margin-top: 430px;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .signup .conError img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }

  .signup .emailError img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }

  .signup .conError p,
  .emailError p {
    font-size: 16px;
    line-height: 14px;
  }

  .signup .drop__control {
    width: 418px;
    padding: 4px;
    margin: 12px;
    font-size: 16px;
    border-radius: 6px;
  }

  .signup .drop__menu {
    width: 428px;
    font-size: 16px;
    margin-top: 4px;
    margin: 12px;
  }

  .signup .complete h3 {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 30px;
    width: 428px;
  }

  .signup .complete h2 {
    margin: 0px;
    margin-top: 120px;
    font-size: 18px;
  }

  .signup .complete a {
    font-size: 16px;
    margin: 10px;
  }
}
