/* Overall page content layout */
.signup .content {
  padding-top: 66.6px;
  min-height: calc(100vh - 66.6px - 71.6px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

/* Description styling */
.signup .text {
  margin-left: 7%;
  margin-right: 7%;
  max-width: 40%;
  margin-top: 3%;
  font-family: Qanelas Soft Bold;
  font-size: 40px;
}

.signup .text h3 {
  padding-top: 10px;
  font-size: 40px;
  text-align: left;
  width: 330px;
  padding-left: 0px;
}

.signup li {
  display: flex;
  align-items: center;
  counter-increment: li;
  margin: 30px;
  font-family: Qanelas Soft;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-top: 10px;
}

.signup ol {
  list-style: none;
  counter-reset: li;
  margin-left: -30px;
}

.signup li::before {
  content: counter(li);
  color: white;
  display: inline-block;
  width: 0.8em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: center;
  direction: rtl;
  background: #54a0f1;
  border-radius: 1000px;
  padding: 12px;
  font-size: 25px;
  font-weight: 700;
  line-height: 0.8em;
}

/* Overall form layout */
.signup .form {
  font-family: Qanelas Soft Bold;
  font-weight: 700;
  font-style: normal;
  box-shadow: 3px 3px 1px rgb(0, 0, 0, 0.3);
  width: 350px;
  /* height: 520px; */
  border-radius: 15px;
  padding: 0px 20px;
  border: solid 1px #949494;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 6%;
  margin-top: 5%;
}

.signup .form .formGroup {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Form header: image and "Register your club */
.signup .formHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.signup .formHeader h2 {
  font-size: 20px;
}

.signup .form .imageContainer img {
  height: 125px;
  width: auto;
}

/* Regular text input styling */
.signup .form .formGroup .userInput {
  width: 300px;
  padding: 10px;
  margin: 8px;
  font-family: Qanelas Soft;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  border-radius: 5px;
  border: solid 1px #949494;
  color: #4e4e4e;
}

/* Dropdown styling */
.signup .drops {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

/* Button wrapper styling */
.signup .buttonWrapper {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
}

.signup .buttonWrapper .help {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: 10px;
}

.signup .buttonWrapper .help a {
  color: #4e4e4e;
  transition: color 0.15s;
}

.signup .buttonWrapper .help a:hover {
  color: #949494;
}

.signup .buttonWrapper p {
  font-family: Qanelas Soft;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin: 0px;
  float: left;
  margin-right: 6px;
  color: #757575;
  letter-spacing: 0.05em;
}

.signup .buttonWrapper a {
  text-decoration: none;
  font-size: 12px;
  margin: 0px;
  float: left;
  color: #2b2b2b;
}

.signup button {
  margin-top: 5px;
  font-family: Qanelas Soft;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.125em;
  background-color: #54a0f1;
  color: white;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  transition: background-color 0.15s;
}

.signup .form button:hover {
  cursor: pointer;
  background-color: #6eaff5;
}

/* Invalid input notice styling */
.signup .inputInvalid {
  width: 300px;
  padding: 10px;
  margin: 8px;
  font-family: Qanelas Soft;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  border-radius: 5px;
  border: solid 1px #ff2d2d;
  color: #4e4e4e;
}

.signup .errorWrapper {
  width: 100%;
}

.signup .errorWrapper .error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #faf5cc;
  z-index: 1;
  border-radius: 6px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
}

.signup .errorWrapper img {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}

.signup .errorWrapper p {
  color: #ff2d2d;
  font-family: Qanelas Soft;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  line-height: 3px;
}

.signup .emailUnverified,
.pwdConMismatch,
.pwdWeak,
.tagOverflow,
.emptyName,
.emptyEmail,
.emptyPwd,
.emptyTags,
.emptyAppReq,
.emptyRecruit {
  /* transition to visible popup */
  visibility: visible;
  opacity: 0.85;
  transition: opacity 0.12s 0.1s ease-in;
}

.signup .tagOverflowNone {
  /* transition to invisible popup */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s,
    opacity 0.6s cubic-bezier(0.58, 0.05, 0.76, 0.89);
}

.signup .error.noError,
.error.unset {
  display: none !important;
}

.signup .error.emptyName {
  margin-left: 187px;
  margin-top: 168px;
}
.signup .error.emptyEmail {
  margin-left: 187px;
  margin-top: 224px;
}
.signup .error.emptyPwd {
  margin-left: 187px;
  margin-top: 329px;
}
.signup .error.emailUnverified {
  margin-left: 42px;
  margin-top: 222px;
}
.signup .error.pwdConMismatch {
  margin-left: 158px;
  margin-top: 329px;
}
.signup .error.pwdWeak {
  margin-left: 121px;
  margin-top: 329px;
}
.signup .error.tagOverflow,
.error.tagOverflowNone {
  margin-left: 160px;
  margin-top: 163px;
}
.signup .error.emptyTags {
  margin-left: 187px;
  margin-top: 163px;
}
.signup .error.emptyAppReq {
  margin-left: 187px;
  margin-top: 217px;
}
.signup .error.emptyRecruit {
  margin-left: 187px;
  margin-top: 270px;
}

/* Page Three styling */
.signup .complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.signup .complete .imageContainer {
  margin-bottom: 40px;
}

.signup .complete h3 {
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
  font-family: Qanelas Soft;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  width: 310px;
}

.signup .complete h2 {
  margin: 0px;
  margin-top: 80px;
  font-size: 12px;
  color: #757575;
}

.signup .complete a {
  text-decoration: none;
  font-size: 12px;
  margin: 4px;
  float: left;
  color: #2b2b2b;
  cursor: pointer;
}

.signup .complete a:hover {
  color: #4e4e4e;
}

/* Miscellaneous */
::placeholder {
  color: #949494;
}

:focus {
  outline: 0px;
}

/* Media query for mobile */
@media screen and (max-width: 850px) {
  .signup .content {
    align-items: unset;
  }
  .signup .content .text {
    display: none;
  }
  .signup .content .form {
    border: none;
    box-shadow: none;
    margin: 0px;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1700px) {
  .signup .text h3 {
    font-size: 50px;
    width: 400px;
  }

  .signup li {
    font-size: 22px;
    margin: 40px;
  }

  .signup li::before {
    font-size: 32px;
    padding: 16px;
    margin-right: 20px;
  }

  .signup .form {
    width: 480px;
    /* height: 620px; */
    border-radius: 15px;
    padding: 28px;
  }

  .signup .formHeader h2 {
    font-size: 26px;
  }

  .signup .form .imageContainer img {
    height: 180px;
    width: auto;
  }

  .signup .form .formGroup .userInput {
    width: 400px;
    padding: 12px;
    margin: 12px;
    font-size: 16px;
    border-radius: 6px;
  }

  .signup .buttonWrapper {
    width: 428px;
  }

  .signup .buttonWrapper p {
    font-size: 16px;
  }

  .signup .buttonWrapper a {
    font-size: 16px;
  }

  .signup button {
    padding: 12px 24px 12px 24px;
    font-size: 18px;
    cursor: pointer;
  }

  .signup .inputInvalid {
    width: 400px;
    padding: 12px;
    margin: 12px;
    font-size: 16px;
    border-radius: 6px;
  }

  .signup .error.pwdConMismatch,
  .signup .error.emptyName,
  .signup .error.emptyEmail,
  .signup .error.emptyPwd,
  .signup .emailUnverified,
  .signup .emptyTags,
  .signup .emptyAppReq,
  .signup .emptyRecruit {
    margin-left: 210px;
    margin-top: 436px;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .signup .error.emptyName,
  .signup .error.emptyTags {
    margin-left: 250px;
    margin-top: 220px;
  }

  .signup .error.tagOverflow,
  .signup .tagOverflowNone {
    margin-left: 206px;
    margin-top: 220px;
  }

  .signup .error.emptyEmail,
  .signup .error.emptyAppReq {
    margin-left: 250px;
    margin-top: 292px;
  }

  .signup .error.emptyRecruit {
    margin-left: 250px;
    margin-top: 362px;
  }

  .signup .error.emptyPwd {
    margin-left: 250px;
    margin-top: 436px;
  }

  .signup .error.emailUnverified {
    margin-left: 56px;
    margin-top: 294px;
  }

  .signup .pwdConMismatch img,
  .signup .pwdWeak img,
  .signup .emailUnverified img,
  .signup .emptyName img,
  .signup .emptyEmail img,
  .signup .emptyPwd img,
  .signup .emptyTags img,
  .signup .emptyAppReq img,
  .signup .emptyRecruit img,
  .signup .tagOverflow img,
  .signup .tagOverflowNone img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }

  .signup .pwdConMismatch p,
  .signup .pwdWeak p,
  .signup .emailUnverified p,
  .signup .emptyName p,
  .signup .emptyEmail p,
  .signup .emptyPwd p,
  .signup .emptyTags p,
  .signup .emptyAppReq p,
  .signup .emptyRecruit p,
  .signup .tagOverflow p,
  .signup .tagOverflowNone p {
    font-size: 16px;
    line-height: 14px;
  }

  .signup .drop__control {
    width: 418px;
    padding: 4px;
    margin: 12px;
    font-size: 16px;
    border-radius: 6px;
  }

  .signup .drop__menu {
    width: 428px;
    font-size: 16px;
    margin-top: 4px;
    margin: 12px;
  }

  .signup .complete h3 {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 30px;
    width: 428px;
  }

  .signup .complete h2 {
    margin: 0px;
    margin-top: 120px;
    font-size: 18px;
  }

  .signup .complete a {
    font-size: 16px;
    margin: 10px;
  }

  .signup .form {
    /* height: 680px; */
  }
}

.email-sent {
  display: none;
  font-size: 12px;
  color: #54a0f1;
  margin-top: 5px;
}
.sent {
  display: unset;
}

.signup .subtitle {
  margin-top: 0px;
  font-family: Qanelas Soft;
  font-size: 9px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
