.contact-button {
  height: 45px;
  width: 40px;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  left: 26px;
  background: #54a0f1;
  color: white;
  padding: 10px;
  padding-top: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(41, 41, 41, 0.69);
  -moz-box-shadow: 0px 0px 8px 0px rgba(41, 41, 41, 0.69);
  box-shadow: 0px 0px 8px 0px rgba(41, 41, 41, 0.69);
  text-align: center;
  cursor: pointer;

  .contact-icon {
    color: white;
    font-size: 24px;
    margin-bottom: 2px;
  }
  
  .contact-text {
    font-size: 8px;
  }
}

.contact-button:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(41, 41, 41, 0.69);
  -moz-box-shadow: 0px 0px 12px 0px rgba(41, 41, 41, 0.69);
  box-shadow: 0px 0px 12px 0px rgba(41, 41, 41, 0.69);
}

@media screen and (max-width: 850px) {
  .contact-button {
    bottom: 5px;
    left: 5px;
  }
}
