.discover {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 2% 0 2%;
}

.searchparams {
  width: 100%;
}

.searchbar {
  box-sizing: border-box;
  width: 30%;
  margin-bottom: 20px;
  height: 49px;
  border: 0.5px solid #000000;
  border-radius: 10px;
  padding-left: 20px;
}
.innerLeft {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.leftColumn {
  flex: 0 0 30%;
  max-width: 30%;
}

.rightColumn {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 1rem;
  margin-left: 1rem;
}

.clubList {
  display: flex;
  flex-direction: column;
}

.clubListItem {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.active {
  background-color: #eaf6ff;
}

.clubImage {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  object-fit: cover;
  margin-right: 1rem;
}

.clubInfo {
  display: flex;
  flex-direction: column;
}

.clubName {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.clubTags {
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.tag {
  padding: 2px 8px;
  border-radius: 12px;
  border: 1px solid #3498db;
  color: #3498db;
}

.clubStatus {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}

.openStatus {
  font-weight: bold;
  color: #2ecc71;
}
.closedStatus {
  font-weight: bold;
  color: red;
}
