.discover {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 1rem;
}

.searchparams {
  display: flex;
  width: 100%;
}

.droprow {
  display: flex;
  height: 49px;
  width: 25%;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.5rem;
}

.searchbar {
  box-sizing: border-box;
  width: 30%;
  margin-right: 0.5rem;
  height: 49px;
  border: 0.5px solid #000000;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.leftColumn {
  flex: 0 0 30%;
  border: 1px solid #464444;
  border-radius: 10px;
}

.rightColumn {
  flex: 0 0 70%;
  border: 1px solid #464444;
  border-radius: 10px;
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  // margin: 0.5rem;
}

.clubList {
  display: flex;
  flex-direction: column;
}

.clubListItem {
  display: flex;
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: #f0f0f0;
  }
}

.clubImage {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  object-fit: cover;
  margin-right: 1rem;
}

.clubInfo {
  display: flex;
  flex-direction: column;
}

.clubName {
  margin: 0 1rem 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  word-wrap: break-word;
}

.clubTags {
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.clubStatus {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}

.openStatus {
  font-weight: bold;
  color: #2ecc71;
}
.closedStatus {
  font-weight: bold;
  color: red;
}

.separator {
  margin: 0 5px;
}

.heartIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.active {
  background-color: #eaf6ff;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.dropdown select {
  border-radius: 3px;
  padding: 5px 20px 5px 5px;
  font-size: 16px;
  width: 150px;
}

//DISCOVER 2
.container {
  width: 100%;
  top: 90px;
  height: 500px;
  display: flex;
  background-image: url('discover_bg.png');
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: #000000;
}
.desc {
  color: #000000;
  font-size: 20px;
  width: 50%;
}

.searchbar2 {
  box-sizing: border-box;
  flex-basis: 100%;
  width: 702px;
  height: 49px;
  border: 0.5px solid #000000;
  border-radius: 25px;
  padding-left: 20px;
}

.frontCard {
  display: flex;
  position: relative;
  margin-right: 100px;
  margin-left: 100px;
  padding: 1rem;
  width: 25%;
  height: 200px;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.cardImage {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  object-fit: cover;
  margin-right: 1rem;
}

.clubScroll {
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  white-space: break-spaces;
}

.appRequired {
  color: #2ecc71;
}
