.reset-filters {
  color: #6eaff5;
  font-size: 10px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
  display: inline-block;
  margin-top: 3px;
}

.reset-filters:hover {
  color: #588fca;
}

.search-input {
  outline: none;
  border: none;
  padding-left: 1px;
}

.search-filter {
  width: 100%;
  padding-right: 0px;
  min-width: 240px;
}

.search-filter i {
  color: #c4c4c4;
  margin-right: 5px;
}


@media screen and (max-width: 800px) {
.search-filter {
    margin: 0px !important;
  }
}