.gallery-upload-wrapper {
	overflow: hidden;
}
.subtext {
	color: #8D8D8D;
}
.slide {
	.caption {
		font-size: 1vw;
		font-family: Qanelas Soft;
	}
}
.hiddenText {
	color: #C4C4C4;
}
.delete-btn {
	background: none;
	border: none;
}
.image-card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.img-preview-container {
	width: fit-content;
	height: fit-content;
	border-radius: 10px;
	max-width: 100%;
}
.img-preview {
	max-height: 150px;
	max-width: 100%;
	object-fit: cover;
	border-radius: 10px;
	background-color: green;
	margin-bottom: -4px;
}
.image-list {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	padding: 0 0 20px 10px;
}
.image-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #C4C4C4;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	padding: 0 1.5em;
	margin-right: 1.2em;
	margin-bottom: 1em;
	border-radius: 10px;
	max-width: 300px;
	min-width: 300px;
}
.caption-textbox {
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	padding: 0.8em;
	margin: 0.5em 0;
}
.image-card-empty {
	box-shadow: none;
	border: 1px dashed #C4C4C4;
	align-items: center;
	background: none;
	min-height: 300px;
	justify-content: center;
	&:hover {
		cursor: pointer;
	}
}
.deleteImg {
	color: #C4C4C4;
	&:hover {
		cursor: pointer;
	}
}
.bottom-section {
	display: flex;
	flex-direction: column;
}
