/* MODALS */
.admin-modal {
  width: 100%;
  letter-spacing: 0.03em;
  font-family: Qanelas Soft;
  font-style: normal;
  position: relative;
}

.admin-modal-header {
  /* position: relative; */
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.admin-modal-text {
  /* position: relative; */
  font-size: 14px;
  width: 100%;
}

.input-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0%;
}

.input-title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0em;
}

.input-text {
  font-size: 14px;
  /* width: 99%; */
  padding-left: 0px;
  border: solid 1px;
  border-radius: 5px;
  line-height: 200%;
}


.subtitle {
  margin-top: 2px;
  font-size: 10px;
  text-decoration: none;
}

#buttons-flex {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: flex-end;
}

#cancel-button {
  margin-bottom: 20px;
  margin-right: 10px;
  float: right;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  color: #f76767;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #f76767;
}

#cancel-button:hover {
  color: #ff1111;
  border: 1px solid #ff1111;
}

#save-button {
  margin-bottom: 20px;
  float: right;
  background: #54a0f1;
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #54a0f1;
}


.flex-container-chungus {
  width: 75vw;
  left: 12.5vw;
  position: relative;
  margin-top: 1.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5%;
}

.flex-container-chungus button {
  margin-bottom: 0px;
  /* float: right; */
  background: none;
  border-radius: 0px;
  padding: 0px;
  color: #3d3d3d;
}

.flex-container-chungus button:hover {
  cursor: pointer;
  background: none;
}


/*====================================*/
/*LEFT FLEXBOX*/
.flex-container-left {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 43.99vw;
  left: 12.5vw;
  margin-top: 0.5vw;
  top: 30.539vw;
  margin-bottom: 3vw;
}

.left-box {
  margin-top: 2.5%;
  width: 100%;
  left: 0%;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  word-wrap: break-word;
}

.text {
  position: relative;
  left: 3%;
  margin: 0vw 1vw 1.5vw 0.7vw;
  font-family: Qanelas Soft;
  font-style: normal;
  font-size: 1.1vw;
  line-height: 150%;
  letter-spacing: 0.03em;
  width: 90%;
}

/*====================================*/
/*RIGHT FLEXBOX*/
.flex-container-right {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 29.808vw;
  margin-top: 0.5vw;
  top: 30.539vw;
  left: 57.49vw;
}

.right-box {
  width: 100%;
  background: #ffffff;
  margin-top: 3.5%;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  word-wrap: break-word;
  justify-content: space-between;
}

/*====================================*/
/*GENERAL TAGS*/

.right-box p,
.left-box p {
  letter-spacing: 0.03em;
  position: relative;
  margin: 1vw 2.7vw 1.7vw 0.7vw;
  left: 3%;
  top: 0.7vw;
  font-family: Qanelas Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 1.35vw;
  color: #3d3d3d;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 850px) {
  .flex-container-chungus {
    flex-direction: column;
    margin-bottom: 1.5%;
  }

  .flex-container-left {
    width: 100%;
    margin-bottom: 0;
  }

  .flex-container-right {
    margin-top: 1.5%;
    width: 100%;
  }

  .desc-box p,
  .events-box p,
  .contact-box p,
  .resources-box p {
    position: relative;
    left: 3%;
    top: 0.7vw;
    font-family: Qanelas Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 8pt;
    color: #3d3d3d;
    letter-spacing: 0.03em;
  }

  .event-flex-left,
  .event-flex-right,
  .left-box .desc-text,
  .right-box .desc-text {
    font-size: 10px;
  }

  .left-box p,
  .right-box p,
  .contact-box p {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .flex-container-chungus {
    width: 100vw;
    left: 0;
  }
}
