.container {
  background-color: #f8fbff;
  font-weight: 400;
  padding: 27px 0;

  .categoriesTitle {
    font-size: 30px;
    padding-left: 55px;
    font-weight: 600;
  }

  .categories {
    display: flex;
    gap: 20px;
    margin: 35px 55px 55px;

    .category {
      border: 1px solid black;
      border-radius: 6px;
      font-size: 20px;
      padding: 30px;
      font-weight: 600;
      overflow-wrap: break-word;

      &:hover {
        background-color: rgb(234, 246, 255);
        cursor: pointer;
      }
    }
  }

  .body {
    .search {
      display: flex;
      gap: 34px;
      margin: 0 55px;

      .searchBox {
        width: 465px;
        height: 46px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        font-size: 16px;
        padding-left: 10px;
        color: rgba(0, 0, 0, 0.6);
      }

      .dropdowns {
        display: flex;
        gap: 18px;
        width: 837px;

        .dateDropdown {
          width: 155px;
          height: 46px;
          font-size: 16px;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.6);
          padding-left: 20px;
          background-image: url('../../assets/icons/dropdown.svg');
          background-repeat: no-repeat;
          appearance: none;
          background-position-x: calc(100% - 16px);
          background-position-y: center;
        }

        .timeDropdown {
          width: 140px;
          height: 46px;
          font-size: 16px;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.6);
          padding-left: 20px;
          background-image: url('../../assets/icons/dropdown.svg');
          background-repeat: no-repeat;
          appearance: none;
          background-position-x: calc(100% - 16px);
          background-position-y: center;
        }

        .tagsDropdown {
          width: 180px;
          height: 46px;
          font-size: 16px;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.6);
          padding-left: 20px;
          background-image: url('../../assets/icons/dropdown.svg');
          background-repeat: no-repeat;
          appearance: none;
          background-position-x: calc(100% - 16px);
          background-position-y: center;
        }
      }
    }

    .eventsContainer {
      display: flex;
      margin: 26px 55px;
      gap: 34px;

      .eventsList {
        width: 465px;
        border-radius: 10px;
        border: 1px solid #464444;
        overflow-y: auto;
        max-height: 100vh;
        background-color: white;
      }
    }
  }

  .underline {
    text-decoration: underline;
  }
}