.container {
    background-color: #f8fbff;
    font-weight: 400;
    padding: 27px 0;
    .categoriesTitle {
        font-size: 30px;
        padding-left: 55px;
        font-weight: 600;
    }
    .categories {
        display: flex;
        justify-content: space-between;
        margin: 35px 55px 55px;
        max-width: 1336px;
        .category {
            width: 220px;
            height: 81px;
            border: 1px solid black;
            border-radius: 6px;
            font-size: 20px;
            padding: 16px 0 0 16px;
            font-weight: 600;
            overflow-wrap: break-word;
            &:hover {
                background-color: rgb(234, 246, 255);
                cursor: pointer;
            }
        }
    }
    .body {
        .search {
            display: flex;
            gap: 34px;
            margin: 0 55px;
            .searchBox {
                width: 465px;
                height: 46px;
                border: 1px solid rgba(0, 0, 0, 0.6);
                border-radius: 10px;
                font-size: 16px;
                padding-left: 10px;
                color: rgba(0, 0, 0, 0.6);
            }
            .dropdowns {
                display: flex;
                gap: 18px;
                width: 837px;
                .dateDropdown {
                    width: 155px;
                    height: 46px;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.6);
                    padding-left: 20px;
                    background-image: url('../../assets/icons/dropdown.svg');
                    background-repeat: no-repeat;
                    appearance: none;
                    background-position-x: calc(100% - 16px);
                    background-position-y: center;
                }
                .timeDropdown {
                    width: 102px;
                    height: 46px;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.6);
                    padding-left: 20px;
                    background-image: url('../../assets/icons/dropdown.svg');
                    background-repeat: no-repeat;
                    appearance: none;
                    background-position-x: calc(100% - 16px);
                    background-position-y: center;
                }
                .tagsDropdown {
                    width: 113px;
                    height: 46px;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.6);
                    padding-left: 20px;
                    background-image: url('../../assets/icons/dropdown.svg');
                    background-repeat: no-repeat;
                    appearance: none;
                    background-position-x: calc(100% - 16px);
                    background-position-y: center;
                }
            }
        }
        .eventsContainer {
            display: flex;
            margin: 26px 55px;
            gap: 34px;
            .eventsList { 
                width: 465px;
                border-radius: 10px;
                border: 1px solid #464444;
                overflow-y: auto;
                max-height: 100vh;
                background-color: white;
                .event {
                    width: 100%;
                    height: 128px;
                    position: relative;
                    display: flex;
                    .favorite {
                        position: absolute;
                        right: 21px;
                        top: 18px;
                        .heartOutline {
                            stroke: #5e6266 60%;
                            fill: none;
                        }
                        .heartFilled {
                            stroke: #f38787 !important;
                            fill: #f38787 !important;
                        }
                    }
                    .eventImage {
                        border-radius: 7px;
                        width: 72px;
                        height: 72px;
                        margin: 24px 14px 30px 19px;
                    }
                    .eventContent {
                        margin-top: 22px;
                        .eventName {
                            font-size: 19px;
                            color: rgba(0, 0, 0, 0.9);
                            font-weight: 600;
                        }
                        .tagList {
                            color: rgba(0, 0, 0, 0.6);  
                            margin: 6px 0 13px 0;  
                        }
                        .iconList {
                            display: flex;
                            color: rgba(0, 0, 0, 0.6);
                            gap: 16px;
                            .meetingItem {
                                display: flex;
                                gap: 7px;
                                .text {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            .bigEvent {
                width: 837px;
                border-radius: 10px;
                border: 1px solid rgba(70, 68, 68, 0.6);
                overflow-y: auto;
                max-height: 100vh;
                background-color: white;
                position: relative;
                .title {
                    display: flex;
                    padding: 30px 0 0 33px;
                    .titleContent {
                        margin-right: 24px;
                        width: 530px;
                        .eventName {
                            font-size: 32px;
                            font-weight: 700;
                            height: 41px;
                        }
                        .clubName {
                            font-size: 16px;
                            height: 32px;
                        }
                        .iconList {
                            margin-top: 18px;
                            display: flex;
                            color: black;
                            gap: 16px;
                            .meetingItem {
                                display: flex;
                                gap: 7px;
                                .text {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .calendarAndHeart {
                        display: flex;
                        .addCalendar {
                            width: 158px;
                            height: 34px;
                            text-align: center;
                            border: 1px solid rgb(61, 110, 168);
                            border-radius: 10px;
                            color: rgb(61, 110, 168);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 15px;
                            &:hover {
                                background-color: rgb(61, 110, 168);
                                color: white;
                                cursor: pointer;
                            }
                        }
                        .favorite {
                        position: absolute;
                        right: 39px;
                        top: 36px;
                        .heartOutline {
                            stroke: #5e6266 60%;
                            fill: none;
                        }
                        .heartFilled {
                            stroke: #f38787 !important;
                            fill: #f38787 !important;
                        }
                    }
                    }
                }
                .content {
                    display: flex;
                    margin-top: 38px;
                    padding-left: 33px;
                    .about {
                        width: 530px;
                        margin-right: 46px;
                        .aboutHeading {
                            font-size: 19px;
                            font-weight: 800;
                        }
                        .aboutDescription {
                            margin-top: 15px;
                            font-size: 18px;
                        }
                    }
                    .sidebar {
                        width: 260px;
                        .tagsTitle {
                            font-size: 19px;
                            font-weight: 800;
                            height: 25px;
                        }
                        .tags {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 7px 14px;
                            margin-top: 12px;
                            .tag {
                                display: flex;
                                align-items: center;
                                padding: 4px 9px;
                                font-size: 15px;
                                border: 1px solid rgb(61, 110, 168);
                                color: rgb(61, 110, 168);
                                border-radius: 10px;
                                height: 22px;
                            }
                        }
                        .linksTitle {
                            font-size: 19px;
                            font-weight: 800;
                            height: 25px;
                            margin: 45px 0 10px 0;
                        }
                        .link {
                            font-size: 19px;
                            height: 32px;
                        }
                        .hosts {
                            display: flex;
                            gap: 15px;
                            width: 210px;
                            flex-wrap: wrap;
                            .user {
                                border-radius: 50%;
                            }
                            .noPhoto {
                                border-radius: 50%;
                                width: 41px;
                                height: 41px;
                                background-color: #D9D9D9;
                            }
                        }
                    }
                }
            }
        }
    }
    .underline {
        text-decoration: underline;
    }
}