.container {
    background-color: #f8fbff;
    
    .categories {

    }
    .body {
        .search {
            display: flex;
            gap: 34px;
            margin: 0 50px;
            .searchBox {
                width: 465px;
                height: 46px;
                border: 1px solid rgba(0, 0, 0, 0.6);
                border-radius: 10px;
                font-size: 16px;
            }
            .dropdowns {
                display: flex;
                gap: 18px;
                width: 837px;
                .dateDropdown {
                    width: 155px;
                    height: 46px;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.6);
                    padding-left: 20px;
                }
                .timeDropdown {
                    width: 102px;
                    height: 46px;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.6);
                    padding-left: 20px;
                }
                .tagsDropdown {
                    width: 113px;
                    height: 46px;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.6);
                    padding-left: 20px;
                }
            }
        }
        .eventsContainer {
            display: flex;
            margin: 26px 50px;
            gap: 34px;
            .eventsList { 
                width: 465px;
                border-radius: 10px;
                border: 1px solid #dbdbdb;
                overflow-y: auto;
                max-height: 100vh;
                .event {
                    width: 100%;
                    height: 128px;
                    position: relative;
                    display: flex;
                    .favorite {
                        position: absolute;
                        right: 21px;
                        top: 18px;
                        .heartOutline {
                            stroke: #5e6266 60%;
                            fill: none;
                        }
                        .heartFilled {
                            stroke: #f38787 !important;
                            fill: #f38787 !important;
                        }
                    }
                    .eventImage {
                        border-radius: 7px;
                        width: 72px;
                        height: 72px;
                        margin: 30px 14px 30px 19px;
                    }
                    .eventContent {
                        margin-top: 22px;
                        .eventName {
                            font-size: 19px;
                            color: rgba(0, 0, 0, 0.9);
                        }
                        .tagList {
                            color: rgba(0, 0, 0, 0.6);  
                            margin: 6px 0 13px 0;  
                        }
                        .iconList {
                            display: flex;
                            color: rgba(0, 0, 0, 0.6);
                            gap: 16px;
                            .meetingItem {
                                display: flex;
                                gap: 7px;
                                .text {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            .bigEvent {
                width: 837px;
                border-radius: 10px;
                border: 1px solid #dbdbdb;
                overflow-y: auto;
                max-height: 100vh;
            }
        }
    }
}