.add-resource .input-time {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
 
.events .formGroup {
  display: flex;
  padding: 30px;
}
 
.events .formGroup .event {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 30px;
  margin-top: 27px;
  margin-left: 5%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
 
.event-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
 
.events .event-content-header img {
  width: 35px;
  margin-left: 10px;
}
 
.events .event-content-header img:hover {
  cursor: pointer;
}
 
.event-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}
 
.buttonsWrapper {
  display: flex;
  flex-direction: row;
}
 
.event-title {
  font-weight: 700;
}
 
.formElement .textarea {
  width: 418px;
}
 
.add-resource {
  padding: 30px 80px;
  padding-left: 0px;
}
 
.add-resource .input {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
 
.modal-input {
  border: 1px solid #555;
  font-size: 16px;
  width: 150px;
  height: 34px;
  padding-left: 12px;
  border-radius: 5px;
}
 
.events .formElement {
  margin: 0px;
  margin-top: 10px;
}
 
.events .formElement p {
  width: 20%;
}
 
.events .formElement .descriptionInput {
  height: 100px;
  padding: 16px;
}
 
.events .gray-modal {
  padding: 10px;
  width: 790px;
}
 
.admin-page .formElement .userInput{
  width: 400px;
}
 
.admin-page .formElement .descriptionInput {
  width: 460px;
  margin-top: 8px;
  margin-bottom: 14px;
}
 
.eventModal {
  width: 900px;
}
 
.events button {
  margin-right: 5%;
}
 
.modal-input {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-right: 10px;
}
 
 
.event-date {
  font-size: 15px;
  margin-bottom: 12px;
}
 
#title-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
 
#title-link {
  display: flex;
  flex-direction: row;
}
 
#title-link img{
  width: 25px;
}
 
#add-button {
  width: 140px;
  margin-left: 6%;
}
 
.event-description{
  width: 75%;
  word-wrap: break-word;
}

.events img:hover {
  cursor: pointer;
}