#recr-main {
    width: 70vw;
    min-height: 70vh;
    position: relative;
}
 
#recr-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
 
.recr-button {
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    
}
 
#recr-add {
    border: 2px solid #54a0f1;
    color: #54a0f1;
    background: white;
}

#recr-cancelsave {
    white-space: nowrap;
}
 
#recr-cancel {
    padding: 10px 25px;
    border: 0px;
    color: 2B2B2B;
    background: #C4C4C4;
}
 
#recr-save {
    padding: 10px 25px;
    border: 0px;
    margin-left: 4%;
    background: #54A0F1;
    color: white;
 
}
