#recr-wrap {
    border: 1px solid #C4C4C4;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 94.5%;
    padding: 5px;
    padding-left: 25px;
    margin-top: 1vh;
    cursor: pointer;
}
 
#recr-unfold {
    margin-left: 9%;
}
 
.recr-accordion__panel-event {
    animation: fadein 0.35s ease-in;
    text-align: left;
    border: none;
    font-family: Qanelas Soft;
}
 
.recr-input {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 7px;
    height: 4vh;
    font-family: Qanelas Soft;
    margin: 1vh 1vw 2vh 0;
}
 
#recr-name-input {
    width: 97%;
}
 
#recr-link-sel {
    width: 30.5%;
}
 
#recr-link {
    width: 63.5%;
    margin-left: -0.1vw;
    margin-right: 0.5vw;
}
 
.link-del {
    background: none;
    border: none;
    color: #C4C4C4;
    font-size: 14px;
    font-family: Qanelas Soft;
    margin-bottom: 10px;
}
#link-remove {
    font-size: 20px;
}
 
.recr-date-row {
    display: flex;
    flex-direction: row;
}
 
#recr-date-input {
    width: 32%;
}
 
#recr-desc-input {
    width: 95%;
    height: 30vh;
    margin-bottom: 0vw;
    resize: none;
}
 
#recr-char {
    color: #8d8d8d;
    font-size: 12px;
    align-self: flex-end;
    margin-right: 1.6vw;
    
}
 
#recr-right-inp {
    margin-left: 2vw;
    width: 50%; 
    display: flex; 
    flex-direction: column;
}
 
#inv-only {
    font-size: 12px;
    color: #8d8d8d;
    margin-top: 3px;
    margin-left: 3px;
}
 
#recr-forge-holder {
    display: flex;
    flex-direction:row;
    align-self:flex-end;
    margin: 0vw 2vw 1vw 0vw;
}
.recr-forge {
    background: none;
    border: none;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}
 
.recr-img {
    width: 2vw;
    height: 2vw;
}
 
#recr-oop {
    width: 2vw;
    height: 2vw;
}

#recr-del-wrap {
    width: 30vw;
    height: 15vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#recr-del-button {
    margin-top: 1.5vw;
    background: #FB635E;
    width: 5.5vw;
    height: 2.3vw;
    font-family: Qanelas Soft;
    color: white;
    border: 1.2px solid #FB635E;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

#recr-cancel-button {
    margin-top: 0.5vw;
    background: none;
    width: 5.5vw;
    height: 2.3vw;
    font-family: Qanelas Soft;
    border: none;
    cursor: pointer;
    
}


