.gray-back {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 90%;
}

.add-button {
  width: 125px;
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  cursor: pointer;
}

.res-flex {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 3%;
  width: 90%;
}

.title-buttons-flex {
  margin-left: 5%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.res-num {
  font-size: 20px;
}

.res-flex img {
  width: 40px;
  margin-left: 10px;
}

#link {
  width: 20px;
}

.event-link-flex {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-bottom: 30px;
}

.del-edit-flex:hover {
  cursor: pointer;
}

/*ADD RESOURCE MODAL STYLING*/
.res-modal {
  width: 800px;
}

#res-bold {
  margin-left: 5%;
  margin-bottom: 5px;
}

#res-desc {
  margin-left: 5%;
  margin-top: 0px;
}

.gray-modal {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: 5%;
  width: 85%;
  padding-bottom: 40px;
  padding-top: 10px;
}

.input-holder {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 8%;
}

.input-title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.resourcesInput {
  font-size: 14px;
  width: 418px;
  height: 34px;
  padding-left: 12px;
  border: solid 1px;
  border-radius: 5px;
} 

#buttons-flex {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-left: 5%;
  justify-content: flex-end;
}

#cancel-button {
  margin-bottom: 20px;
  margin-right: 10px;
  float: right;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  color: #ff2d2d;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #ff2d2d;
}
#save-button {
  font-size: 14px;
}

/*DELETE RESOURCE MODAL STYLING*/
#del-modal {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#del-text {
  width: 75%;
  text-align: center;
}

#del-buttons-flex {
  display: flex;
  flex-direction: row;
}

#del-cancel {
  color: black;
  padding: 10px 10px;
  margin-right: 5px;
  font-size: 14px;
  background: #c4c4c4;
}

#del-cancel:hover {
  background: #e6e6e6;
  cursor: pointer;
}

#del-del {
  padding: 10px 10px;
  font-size: 14px;
}
