.faq {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-image: url('./../assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.faq img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.faq .content {
  min-height: 87vh;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  padding-top: 40px;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.faq .content .text {
  text-align: left;
  align-items: left;
  width: 85%;
}

.faq h3 {
  color: #2b2b2b;
  font-size: 2em;
  line-height: 1.2em;
  font-family: Qanelas Soft Extra Bold;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
  margin-bottom: 5px;
}

.faq h2 {
  color: #2b2b2b;
  font-size: 1.1em;
  font-weight: 700;
  font-style: normal;
}

.faq p {
  color: #2b2b2b;
  font-size: 1.1em;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

