.footer-wrapper {
  position: static;
  bottom: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}

.footer-wrapper a {
  color: #54a0f1;
  text-decoration: none;
}

.footer-wrapper .links {
  padding-top: 5px;
}

.footer-link-image {
  width: 25px;
  height: auto;
}