.footer-wrapper {
  font-family: Qanelas Soft Semi Bold;
  position: static;
  bottom: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 14px;

  background: #FFFFFF;
}

.footer-wrapper a {
  color: #54a0f1;
  text-decoration: none;
}

.footer-wrapper a:hover {
  color: #4475AF;
  text-decoration: none;
}

.footer-wrapper .links {
  padding-top: 8px;
  padding-bottom:2px;
}

.footer-link-image {
  width: 25px;
  height: auto;
}

.footer-wrapper .end {
  margin-top: 5px;
  margin-bottom: 5px;
}
