.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: middle;
}

.popup_inner {
  position: relative;
  margin: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  height: 70%;
  overflow-y: scroll;
}

.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333;
  font-size: 24px;
}

.exit:hover {
  color: #999;
}
